<ffbcomp-admin-header></ffbcomp-admin-header>

<div id="content">
    <div *ngFor="let alert of alerts" style="position: fixed; margin-left: 70%; z-index: 10">
        <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
    </div>
    <div *ngFor="let badAlert of badAlerts" style="position: fixed; margin-left: 70%; z-index: 10">
        <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
    </div>
    <div id="content-header">
        <div id="breadcrumb">
            <a routerLink="/admin/home" title="Go to Home" class="tip-bottom"><i
					class="icon-home"></i> Home</a> <a class="current">Partidos</a>
        </div>
        <h1>Partidos</h1>
    </div>
    <div class="container-fluid">
        <hr>
        <div class="row-fluid">
            <div class="span12">
                <accordion [closeOthers]="false">
                    <accordion-group [isOpened]="true">
                        <accordion-heading>
                            <div class="widget-title">
                                <a><span class="icon"><i class="icon-plus"></i></span>
                                    <h5>Tabla de partidos de fútbol</h5></a>
                            </div>
                        </accordion-heading>
                        <table data-toggle="table" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1"
                            data-pagination="true" data-sort-name="name" data-sort-order="desc" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th data-field="id" data-sortable="true">ID</th>
                                    <th data-field="date" data-sortable="true">Fecha</th>
                                    <th data-field="time" data-sortable="true">Hora</th>
                                    <th data-field="homeTeam" data-sortable="true">Equipo local
                                    </th>
                                    <th data-field="visitingTeam" data-sortable="true">Equipo visitante
                                    </th>
                                    <th data-field="quotaHomeVictory" data-sortable="true">Cuota victoria local</th>
                                    <th data-field="quotaVisitingVictory" data-sortable="true">Cuota victoria visitante</th>
                                    <th data-field="quotaDrawVictory" data-sortable="true">Cuota empate</th>
                                    <th data-field="quotaDrawVictory" data-sortable="true">Resultado</th>
                                    <th data-field="Actions" data-sortable="true">Actions</th>
                                </tr>
                            </thead>
                            <tr *ngFor="let footballMatch of footballMatches">
                                <td>{{footballMatch.id}}</td>
                                <td>{{footballMatch.date}}</td>
                                <td>{{footballMatch.time}}</td>
                                <td>{{footballMatch.homeTeam}}</td>
                                <td>{{footballMatch.visitingTeam}}</td>
                                <td>{{footballMatch.quotaHomeVictory}}</td>
                                <td>{{footballMatch.quotaVisitingVictory}}</td>
                                <td>{{footballMatch.quotaDraw}}</td>
                                <td>{{footballMatch.homePoints}} - {{footballMatch.visitingPoints}}</td>
                                <td>
                                    <button type="submit" class="btn btn-mini btn-danger" (click)="removeSportMatch(footballMatch)"> Borrar </button>
                                </td>
                            </tr>
                        </table>
                    </accordion-group>
                    <accordion-group [isOpened]="true">
                        <accordion-heading>
                            <div class="widget-title">
                                <a><span class="icon"><i class="icon-plus"></i></span>
                                    <h5>Tabla de partidos de baloncesto</h5></a>
                            </div>
                        </accordion-heading>
                        <table data-toggle="table" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1"
                            data-pagination="true" data-sort-name="name" data-sort-order="desc" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th data-field="id" data-sortable="true">ID</th>
                                    <th data-field="date" data-sortable="true">Fecha</th>
                                    <th data-field="time" data-sortable="true">Hora</th>
                                    <th data-field="homeTeam" data-sortable="true">Equipo local
                                    </th>
                                    <th data-field="visitingTeam" data-sortable="true">Equipo visitante
                                    </th>
                                    <th data-field="quotaHomeVictory" data-sortable="true">Cuota victoria local</th>
                                    <th data-field="quotaVisitingVictory" data-sortable="true">Cuota victoria visitante</th>
                                    <th data-field="quotaDrawVictory" data-sortable="true">Cuota empate</th>
                                    <th data-field="quotaDrawVictory" data-sortable="true">Resultado</th>
                                    <th data-field="Actions" data-sortable="true">Actions</th>
                                </tr>
                            </thead>
                            <tr *ngFor="let basketballMatch of basketballMatches">
                                <td>{{basketballMatch.id}}</td>
                                <td>{{basketballMatch.date}}</td>
                                <td>{{basketballMatch.time}}</td>
                                <td>{{basketballMatch.homeTeam}}</td>
                                <td>{{basketballMatch.visitingTeam}}</td>
                                <td>{{basketballMatch.quotaHomeVictory}}</td>
                                <td>{{basketballMatch.quotaVisitingVictory}}</td>
                                <td>{{basketballMatch.quotaDraw}}</td>
                                <td>{{basketballMatch.homePoints}} - {{basketballMatch.visitingPoints}}</td>
                                <td>
                                    <button type="submit" class="btn btn-mini btn-danger" (click)="removeSportMatch(basketballMatch)"> Borrar </button>
                                </td>
                            </tr>
                        </table>
                    </accordion-group>
                    <accordion-group [isOpened]="true">
                        <accordion-heading>
                            <div class="widget-title">
                                <a><span class="icon"><i class="icon-plus"></i></span>
                                    <h5>Tabla de partidos de LOL</h5></a>
                            </div>
                        </accordion-heading>
                        <table data-toggle="table" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1"
                            data-pagination="true" data-sort-name="name" data-sort-order="desc" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th data-field="id" data-sortable="true">ID</th>
                                    <th data-field="date" data-sortable="true">Fecha</th>
                                    <th data-field="time" data-sortable="true">Hora</th>
                                    <th data-field="homeTeam" data-sortable="true">Equipo local
                                    </th>
                                    <th data-field="visitingTeam" data-sortable="true">Equipo visitante
                                    </th>
                                    <th data-field="quotaHomeVictory" data-sortable="true">Cuota victoria local</th>
                                    <th data-field="quotaVisitingVictory" data-sortable="true">Cuota victoria visitante</th>
                                    <th data-field="quotaHomeFirstBlood" data-sortable="true">Cuota Primera Sangre Local</th>
                                    <th data-field="quotaVisitingFirstBlood" data-sortable="true">Cuota Primera Sangre Visitante</th>
                                    <th data-field="resultado" data-sortable="true">Ganador</th>
                                    <th data-field="resultado" data-sortable="true">Primera sangre</th>
                                    <th data-field="Actions" data-sortable="true">Actions</th>
                                </tr>
                            </thead>
                            <tr *ngFor="let lolMatch of lolMatches">
                                <td>{{lolMatch.id}}</td>
                                <td>{{lolMatch.date}}</td>
                                <td>{{lolMatch.time}}</td>
                                <td>{{lolMatch.homeTeam}}</td>
                                <td>{{lolMatch.visitingTeam}}</td>
                                <td>{{lolMatch.quotaHomeVictory}}</td>
                                <td>{{lolMatch.quotaVisitingVictory}}</td>
                                <td>{{lolMatch.quotaHomeFirstBlood}}</td>
                                <td>{{lolMatch.quotaVisitingFirstBlood}}</td>
                                <td>{{lolMatch.winnerTeam}}</td>
                                <td>{{lolMatch.firstBloodTeam}}</td>
                                <td>
                                    <button type="submit" class="btn btn-mini btn-danger" (click)="removeEgamesMatch(lolMatch)"> Borrar </button>
                                </td>
                            </tr>
                        </table>
                    </accordion-group>
                    <accordion-group [isOpened]="true">
                        <accordion-heading>
                            <div class="widget-title">
                                <a><span class="icon"><i class="icon-plus"></i></span>
                                    <h5>Tabla de partidos de CS-GO</h5></a>
                            </div>
                        </accordion-heading>
                        <table data-toggle="table" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1"
                            data-pagination="true" data-sort-name="name" data-sort-order="desc" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th data-field="id" data-sortable="true">ID</th>
                                    <th data-field="date" data-sortable="true">Fecha</th>
                                    <th data-field="time" data-sortable="true">Hora</th>
                                    <th data-field="homeTeam" data-sortable="true">Equipo local
                                    </th>
                                    <th data-field="visitingTeam" data-sortable="true">Equipo visitante
                                    </th>
                                    <th data-field="quotaHomeVictory" data-sortable="true">Cuota victoria local</th>
                                    <th data-field="quotaVisitingVictory" data-sortable="true">Cuota victoria visitante</th>
                                    <th data-field="quotaHomeFirstBlood" data-sortable="true">Cuota Primera Sangre Local</th>
                                    <th data-field="quotaVisitingFirstBlood" data-sortable="true">Cuota Primera Sangre Visitante</th>
                                    <th data-field="resultado" data-sortable="true">Ganador</th>
                                    <th data-field="resultado" data-sortable="true">Primera sangre</th>
                                    <th data-field="Actions" data-sortable="true">Actions</th>
                                </tr>
                            </thead>
                            <tr *ngFor="let csMatch of csMatches">
                                <td>{{csMatch.id}}</td>
                                <td>{{csMatch.date}}</td>
                                <td>{{csMatch.time}}</td>
                                <td>{{csMatch.homeTeam}}</td>
                                <td>{{csMatch.visitingTeam}}</td>
                                <td>{{csMatch.quotaHomeVictory}}</td>
                                <td>{{csMatch.quotaVisitingVictory}}</td>
                                <td>{{csMatch.quotaHomeFirstBlood}}</td>
                                <td>{{csMatch.quotaVisitingFirstBlood}}</td>
                                <td>{{csMatch.winnerTeam}}</td>
                                <td>{{csMatch.firstBloodTeam}}</td>
                                <td>
                                    <button type="submit" class="btn btn-mini btn-danger" (click)="removeEgamesMatch(csMatch)"> Borrar </button>
                                </td>
                            </tr>
                        </table>
                    </accordion-group>
                </accordion>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
                <accordion [closeOthers]="false">
                    <accordion-group [isOpened]="false">
                        <accordion-heading>
                            <div class="widget-title">
                                <a><span class="icon"><i class="icon-plus"></i></span>
                                    <h5>Tabla de equipos</h5></a>
                            </div>
                        </accordion-heading>
                        <table data-toggle="table" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1"
                            data-pagination="true" data-sort-name="name" data-sort-order="desc" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th data-field="id" data-sortable="true">ID</th>
                                    <th data-field="type" data-sortable="true">Tipo</th>
                                    <th data-field="name" data-sortable="true">Name</th>
                                </tr>
                            </thead>
                            <tr *ngFor="let team of teams">
                                <td>{{team.id}}</td>
                                <td>{{team.type}}</td>
                                <td>{{team.name}}</td>
                            </tr>
                        </table>
                    </accordion-group>
                </accordion>
            </div>
        </div>
        <hr>
        <div class="row-fluid">
            <div class="span6">
                <accordion [closeOthers]="false">
                    <accordion-group>
                        <accordion-heading>
                            <div class="widget-title">
                                <a><span class="icon"><i class="icon-plus"></i></span>
                                    <h5>Añadir partido Fútbol</h5></a>
                            </div>
                        </accordion-heading>
                        <form #newFootballMatchForm="ngForm" class="form-horizontal" (ngSubmit)="newFootballMatch(newFootballMatchForm.value)" novalidate>
                            <div class="control-group">
                                <label class="control-label">Fecha(dd-mm-yy)</label>
                                <div class="controls">
                                    <div class="input-append date datepicker">
                                        <input ngModel #spDateRef="ngModel" name="date" type="date" data-date-format="dd-mm-yyyy" class="span11 mask-date" required
                                        /> <span class="add-on"><i class="icon-th"></i></span>
                                    </div>
                                    <div [hidden]="spDateRef.valid || spTimeRef.untouched" class="alert alert-danger ffbalert">
                                        Por favor introduce una fecha correcta
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label for="normal" class="control-label">Hora
												(hh:mm:ss)</label>
                                <div class="controls">
                                    <input ngModel #spTimeRef="ngModel" name="time" type="time" id="mask-hour-try" class="span5 mask text" required />
                                </div>
                                <div [hidden]="spTimeRef.valid || spTimeRef.pristine" class="alert alert-danger ffbalert">
                                    Por favor introduce una hora correcta
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Equipo local</label>
                                <div class="controls">
                                    <select ngModel #spHomeTeamRef="ngModel" name="homeTeam" required>
									    <option *ngFor="let team of footballTeams">{{team.name}}</option>
									</select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Equipo visitante</label>
                                <div class="controls">
                                    <select ngModel #spVisitingTeamRef="ngModel" name="visitingTeam" required>
									    <option *ngFor="let team of footballTeams">{{team.name}}</option>
									</select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Victoria local</label>
                                <div class="controls">
                                    <div class="input-append">
                                        <input ngModel #spQuotaHV name="quotaHomeVictory" id="percent-local-fut" type="number" placeholder="0% - 90%" data-title="Han de sumar entre 105% y 110%"
                                            class="span4 tip mask-percent" required />
                                        <span class="add-on">%</span> <input type="text" placeholder="Cuota: @3.15" class="span6"
                                            disabled />
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Empate</label>
                                <div class="controls">
                                    <div class="input-append">
                                        <input ngModel #spQuotaD name="quotaDraw" id="percent-empate-fut" type="number" placeholder="0% - 90%" data-title="Han de sumar entre 105% y 110%"
                                            class="span4 tip mask-percent" required />
                                        <span class="add-on">%</span>
                                        <input type="text" placeholder="Cuota: @3.15" class="span6" disabled />
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Victoria visitante</label>
                                <div class="controls">
                                    <div class="input-append">
                                        <input ngModel #spQuotaVV name="quotaVisitingVictory" id="percent-visitante-fut" type="number" placeholder="0% - 90%" data-title="Han de sumar entre 105% y 110%"
                                            class="span4 tip mask-percent" required />
                                        <span class="add-on">%</span> <input type="text" placeholder="Cuota: @3.15" class="span6"
                                            disabled />
                                    </div>
                                </div>
                            </div>
                            <div [hidden]="newFootballMatchForm.form.valid" style="max-width: 60%;" class="alert alert-warning">
                                Please look at the errors
                            </div>
                            <div style="margin-left: 80%">
                                <button [disabled]="!newFootballMatchForm.form.valid" type="submit" class="btn btn-success">Añadir</button>
                            </div>
                        </form>
                    </accordion-group>
                    <accordion-group>
                        <accordion-heading>
                            <div class="widget-title">
                                <a><span class="icon"><i class="icon-plus"></i></span>
                                    <h5>Añadir partido Baloncesto</h5></a>
                            </div>
                        </accordion-heading>
                        <form #newBasketballMatchForm="ngForm" class="form-horizontal" (ngSubmit)="newBasketballMatch(newBasketballMatchForm.value)"
                            novalidate>
                            <div class="control-group">
                                <label class="control-label">Fecha(dd-mm-yy)</label>
                                <div class="controls">
                                    <div class="input-append date datepicker">
                                        <input ngModel #spDateRef="ngModel" name="date" type="date" data-date-format="dd-mm-yyyy" class="span11 mask-date" required
                                        /> <span class="add-on"><i class="icon-th"></i></span>
                                    </div>
                                    <div [hidden]="spDateRef.valid || spTimeRef.untouched" class="alert alert-danger ffbalert">
                                        Por favor introduce una fecha correcta
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label for="normal" class="control-label">Hora
												(hh:mm:ss)</label>
                                <div class="controls">
                                    <input ngModel #spTimeRef="ngModel" name="time" type="time" id="mask-hour-try" class="span5 mask text" required />
                                </div>
                                <div [hidden]="spTimeRef.valid || spTimeRef.pristine" class="alert alert-danger ffbalert">
                                    Por favor introduce una hora correcta
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Equipo local</label>
                                <div class="controls">
                                    <select ngModel #spHomeTeamRef="ngModel" name="homeTeam" required>
									    <option *ngFor="let team of basketballTeams">{{team.name}}</option>
									</select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Equipo visitante</label>
                                <div class="controls">
                                    <select ngModel #spVisitingTeamRef="ngModel" name="visitingTeam" required>
									    <option *ngFor="let team of basketballTeams">{{team.name}}</option>
									</select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Victoria local</label>
                                <div class="controls">
                                    <div class="input-append">
                                        <input ngModel #spQuotaHV name="quotaHomeVictory" id="percent-local-fut" type="number" placeholder="0% - 90%" data-title="Han de sumar entre 105% y 110%"
                                            class="span4 tip mask-percent" required />
                                        <span class="add-on">%</span> <input type="text" placeholder="Cuota: @3.15" class="span6"
                                            disabled />
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Empate</label>
                                <div class="controls">
                                    <div class="input-append">
                                        <input ngModel #spQuotaD name="quotaDraw" id="percent-empate-fut" type="number" placeholder="0% - 90%" data-title="Han de sumar entre 105% y 110%"
                                            class="span4 tip mask-percent" required />
                                        <span class="add-on">%</span>
                                        <input type="text" placeholder="Cuota: @3.15" class="span6" disabled />
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Victoria visitante</label>
                                <div class="controls">
                                    <div class="input-append">
                                        <input ngModel #spQuotaVV name="quotaVisitingVictory" id="percent-visitante-fut" type="number" placeholder="0% - 90%" data-title="Han de sumar entre 105% y 110%"
                                            class="span4 tip mask-percent" required />
                                        <span class="add-on">%</span> <input type="text" placeholder="Cuota: @3.15" class="span6"
                                            disabled />
                                    </div>
                                </div>
                            </div>
                            <div [hidden]="newBasketballMatchForm.form.valid" style="max-width: 60%;" class="alert alert-warning">
                                Please look at the errors
                            </div>
                            <div style="margin-left: 80%">
                                <button [disabled]="!newBasketballMatchForm.form.valid" type="submit" class="btn btn-success">Añadir</button>
                            </div>
                        </form>
                    </accordion-group>
                </accordion>
            </div>
            <div class="span6">
                <accordion [closeOthers]="false">
                    <accordion-group>
                        <accordion-heading>
                            <div class="widget-title">
                                <a><span class="icon"><i class="icon-plus"></i></span>
                                    <h5>Añadir partido LOL</h5></a>
                            </div>
                        </accordion-heading>
                        <form #newLOLMatchForm="ngForm" class="form-horizontal" (ngSubmit)="newLOLMatch(newLOLMatchForm.value)" novalidate>
                            <div class="control-group">
                                <label class="control-label">Fecha(dd-mm-yy)</label>
                                <div class="controls">
                                    <div class="input-append date datepicker">
                                        <input ngModel #spDateRef="ngModel" name="date" type="date" data-date-format="dd-mm-yyyy" class="span11 mask-date" required
                                        />
                                        <span class="add-on"><i class="icon-th"></i></span>
                                    </div>
                                    <div [hidden]="spDateRef.valid || spTimeRef.untouched" class="alert alert-danger ffbalert">
                                        Por favor introduce una fecha correcta
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label for="normal" class="control-label">Hora
												(hh:mm:ss)</label>
                                <div class="controls">
                                    <input ngModel #spTimeRef="ngModel" name="time" type="time" id="mask-hour-try" class="span5 mask text" required />
                                </div>
                                <div [hidden]="spTimeRef.valid || spTimeRef.pristine" class="alert alert-danger ffbalert">
                                    Por favor introduce una hora correcta
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Equipo local</label>
                                <div class="controls">
                                    <select ngModel #spHomeTeamRef="ngModel" name="homeTeam" required>
									    <option *ngFor="let team of lolTeams">{{team.name}}</option>
									</select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Equipo visitante</label>
                                <div class="controls">
                                    <select ngModel #spVisitingTeamRef="ngModel" name="visitingTeam" required>
									    <option *ngFor="let team of lolTeams">{{team.name}}</option>
									</select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Victoria local</label>
                                <div class="controls">
                                    <div class="input-append">
                                        <input ngModel #spQuotaHV name="quotaHomeVictory" id="percent-local-lol" type="number" placeholder="0% - 90%" data-title="%Local + %Visitante = 105%-110%"
                                            class="span4 tip mask-percent" required />
                                        <span class="add-on">%</span>
                                        <input type="text" placeholder="Cuota: @3.15" class="span6" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Victoria visitante</label>
                                <div class="controls">
                                    <div class="input-append">
                                        <input ngModel #spQuotaVV name="quotaVisitingVictory" id="percent-visitant-lol" type="number" placeholder="0% - 90%" data-title="%Local + %Visitante = 105%-110%"
                                            class="span4 tip mask-percent" required />
                                        <span class="add-on">%</span>
                                        <input type="text" placeholder="Cuota: @3.15" class="span6" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">First Blood Local</label>
                                <div class="controls">
                                    <div class="input-append">
                                        <input ngModel #spQuotaHomeFB name="quotaHomeFirstBlood" id="percent-fblocal-lol" type="number" placeholder="0% - 90%" data-title="%FBLocal + %FBVisitante = 105%-110%"
                                            class="span4 tip mask-percent" required />
                                        <span class="add-on">%</span>
                                        <input type="text" placeholder="Cuota: @3.15" class="span6" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">First Blood Visitante</label>
                                <div class="controls">
                                    <div class="input-append">
                                        <input ngModel #spQuotaVisitingFB name="quotaVisitingFirstBlood" id="percent-fbvisitante-lol" type="number" placeholder="0% - 90%"
                                            data-title="%FBLocal + %FBVisitante = 105%-110%" class="span4 tip mask-percent" required
                                        /> <span class="add-on">%</span>
                                        <input type="text" placeholder="Cuota: @3.15" class="span6" disabled>
                                    </div>
                                </div>
                            </div>
                            <div [hidden]="newLOLMatchForm.form.valid" style="max-width: 60%;" class="alert alert-warning">
                                Please look at the errors
                            </div>
                            <div style="margin-left: 80%">
                                <button [disabled]="!newLOLMatchForm.form.valid" type="submit" class="btn btn-success">Añadir</button>
                            </div>
                        </form>
                    </accordion-group>
                    <accordion-group>
                        <accordion-heading>
                            <div class="widget-title">
                                <a><span class="icon"><i class="icon-plus"></i></span>
                                    <h5>Añadir partido CS:GO</h5></a>
                            </div>
                        </accordion-heading>
                        <form #newCSMatchForm="ngForm" class="form-horizontal" (ngSubmit)="newCSMatch(newCSMatchForm.value)" novalidate>
                            <div class="control-group">
                                <label class="control-label">Fecha(dd-mm-yy)</label>
                                <div class="controls">
                                    <div class="input-append date datepicker">
                                        <input ngModel #spDateRef="ngModel" name="date" type="date" data-date-format="dd-mm-yyyy" class="span11 mask-date" required
                                        />
                                        <span class="add-on"><i class="icon-th"></i></span>
                                    </div>
                                    <div [hidden]="spDateRef.valid || spTimeRef.untouched" class="alert alert-danger ffbalert">
                                        Por favor introduce una fecha correcta
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label for="normal" class="control-label">Hora
												(hh:mm:ss)</label>
                                <div class="controls">
                                    <input ngModel #spTimeRef="ngModel" name="time" type="time" id="mask-hour-try" class="span5 mask text" required />
                                </div>
                                <div [hidden]="spTimeRef.valid || spTimeRef.pristine" class="alert alert-danger ffbalert">
                                    Por favor introduce una hora correcta
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Equipo local</label>
                                <div class="controls">
                                    <select ngModel #spHomeTeamRef="ngModel" name="homeTeam" required>
									    <option *ngFor="let team of csTeams">{{team.name}}</option>
									</select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Equipo visitante</label>
                                <div class="controls">
                                    <select ngModel #spVisitingTeamRef="ngModel" name="visitingTeam" required>
									    <option *ngFor="let team of csTeams">{{team.name}}</option>
									</select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Victoria local</label>
                                <div class="controls">
                                    <div class="input-append">
                                        <input ngModel #spQuotaHV name="quotaHomeVictory" id="percent-local-lol" type="number" placeholder="0% - 90%" data-title="%Local + %Visitante = 105%-110%"
                                            class="span4 tip mask-percent" required />
                                        <span class="add-on">%</span>
                                        <input type="text" placeholder="Cuota: @3.15" class="span6" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Victoria visitante</label>
                                <div class="controls">
                                    <div class="input-append">
                                        <input ngModel #spQuotaVV name="quotaVisitingVictory" id="percent-visitant-lol" type="number" placeholder="0% - 90%" data-title="%Local + %Visitante = 105%-110%"
                                            class="span4 tip mask-percent" required />
                                        <span class="add-on">%</span>
                                        <input type="text" placeholder="Cuota: @3.15" class="span6" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">First Blood Local</label>
                                <div class="controls">
                                    <div class="input-append">
                                        <input ngModel #spQuotaHomeFB name="quotaHomeFirstBlood" id="percent-fblocal-lol" type="number" placeholder="0% - 90%" data-title="%FBLocal + %FBVisitante = 105%-110%"
                                            class="span4 tip mask-percent" required />
                                        <span class="add-on">%</span>
                                        <input type="text" placeholder="Cuota: @3.15" class="span6" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">First Blood Visitante</label>
                                <div class="controls">
                                    <div class="input-append">
                                        <input ngModel #spQuotaVisitingFB name="quotaVisitingFirstBlood" id="percent-fbvisitante-lol" type="number" placeholder="0% - 90%"
                                            data-title="%FBLocal + %FBVisitante = 105%-110%" class="span4 tip mask-percent" required
                                        /> <span class="add-on">%</span>
                                        <input type="text" placeholder="Cuota: @3.15" class="span6" disabled>
                                    </div>
                                </div>
                            </div>
                            <div [hidden]="newCSMatchForm.form.valid" style="max-width: 60%;" class="alert alert-warning">
                                Please look at the errors
                            </div>
                            <div style="margin-left: 80%">
                                <button [disabled]="!newCSMatchForm.form.valid" type="submit" class="btn btn-success">Añadir</button>
                            </div>
                        </form>
                    </accordion-group>
                </accordion>
            </div>
        </div>
    </div>
</div>

<ffbcomp-admin-footer></ffbcomp-admin-footer>