<div id="content">
    <div id="content-header">
        <div id="breadcrumb">
            <a href="#" title="Go to Home" class="tip-bottom"><i
					class="icon-home"></i> Home</a> <a href="admin" class="current">Resultados</a>
        </div>
        <h1>Resultados</h1>
    </div>
    <div class="container-fluid">
        <hr>
        <div class="row-fluid">
            <div class="span6">
                <div class="widget-box collapsible">
                    <div class="widget-title">
                        <a href="#collapseOne" data-toggle="collapse"> <span class="icon"><i class="icon-plus"></i></span>
                            <h5>Añadir resultado fútbol</h5>
                        </a>
                    </div>
                    <div class="collapse in" id="collapseOne">
                        <div class="widget-content">
                            <div class="widget-content nopadding">
                                <div class="panel-body">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th data-field="id" data-sortable="true">ID</th>
                                                <th data-field="equipoLocal" data-sortable="true">Equipo local
                                                </th>
                                                <th data-field="equipoVisitante" data-sortable="true">Equipo Visitante
                                                </th>
                                                <th data-field="Resultado" data-sortable="true">Resultado</th>
                                                <th data-field="Guardado" data-sortable="true">Guardado</th>
                                                <th data-field="Resultado" data-sortable="true">Acciones</th>
                                        </thead>
                                        <tr>
                                            <td>id</td>
                                            <td>homeTeam</td>
                                            <td>visitingTeam</td>
                                            <td>
                                                <div style="padding: 0px; margin-top: 0px; margin-bottom: 0px;">
                                                    <div style="float: right;">
                                                        <input style="min-width: 50px;" type="number" class="span3" placeholder="homePoints" name="homePoints" />-
                                                        <input style="min-width: 50px;" type="number" class="span3" placeholder="visitingPoints" name="visitingPoints" />
                                                    </div>
                                                    <input style="border-left: 10px; display: none" type="submit" class="btn btn-success" value="Guardar" />
                                                </div>

                                            </td>
                                            <td>
                                                <strong>Sí-</strong>
                                            </td>
                                            <td>
                                                <button style="border-left: 10px" class="btn btn-success buttonSave">Guardar</button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget-box collapsible">
                    <div class="widget-title">
                        <a href="#collapseOne2" data-toggle="collapse"> <span class="icon"><i class="icon-plus"></i></span>
                            <h5>Añadir resultado Basket</h5>
                        </a>
                    </div>
                    <div class="collapse in" id="collapseOne2">
                        <div class="widget-content">
                            <div class="widget-content nopadding">
                                <div class="panel-body">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th data-field="id" data-sortable="true">ID</th>
                                                <th data-field="equipoLocal" data-sortable="true">Equipo local
                                                </th>
                                                <th data-field="equipoVisitante" data-sortable="true">Equipo Visitante
                                                </th>
                                                <th data-field="Resultado" data-sortable="true">Resultado</th>
                                                <th data-field="Guardado" data-sortable="true">Guardado</th>
                                                <th data-field="Acciones" data-sortable="true">Acciones</th>
                                        </thead>
                                        <tr>
                                            <td>id</td>
                                            <td>homeTeam</td>
                                            <td>visitingTeam</td>
                                            <td>
                                                    <div style="padding: 0px; margin-top: 0px; margin-bottom: 0px;">
                                                        <div style="float: right;">
                                                            <input style="min-width: 50px;" type="number" class="span3" placeholder="homePoints" name="homePoints" />-
                                                            <input style="min-width: 50px;" type="number" class="span3" placeholder="visitingPoints" name="visitingPoints" />
                                                        </div>
                                                        <input style="border-left: 10px; display: none" type="submit" class="btn btn-success" value="Guardar" />
                                                    </div>
                                            </td>
                                            <td>
                                                <strong>Sí-</strong>
                                            </td>
                                            <td>
                                                <button style="border-left: 10px" class="btn btn-success buttonSave">Guardar</button>
                                            </td>

                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span6">
                <div class="widget-box collapsible">
                    <div class="widget-title">
                        <a href="#collapseTwo" data-toggle="collapse"> <span class="icon"><i class="icon-plus"></i></span>
                            <h5>Añadir resultado LOL</h5>
                        </a>
                    </div>
                    <div class="collapse in" id="collapseTwo">
                        <div class="widget-content">
                            <div class="widget-content nopadding">
                                <div class="panel-body">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th data-field="id" data-sortable="true">ID</th>
                                                <th data-field="equipoLocal" data-sortable="true">Equipo local
                                                </th>
                                                <th data-field="equipoVisitante" data-sortable="true">Equipo Visitante
                                                </th>
                                                <th data-field="result" data-sortable="true">Resultado</th>
                                                <th data-field="actions" data-sortable="true">Acciones
                                            </tr>
                                        </thead>
                                        <tr>
                                            <td>id</td>
                                            <td>homeTeam <strong>winHome
												</strong> <strong>firstBloodHome</strong>
                                            </td>
                                            <td>visitingTeam <strong>winVisiting
												</strong> <strong>firstBloodVisiting</strong>
                                            </td>
                                            <td>
                                                    <div class="controls">
                                                        <div class="controls">
                                                            <div class="controls">
                                                                <select style="min-width: 200px;" name="winningTeam">-G-
																		<option value="homeTeam">Gana Local -G-</option>
																		<option value="visitingTeam">Gana
																			Visitante -G-</option>
																	</select>
                                                            </div>
                                                        </div>
                                                        <div class="controls">
                                                            <div class="controls">
                                                                <select style="min-width: 200px;" name="firstBlood">-FB-
																		<option value="homeTeam}">Primera Sangre
																			Local -FB-</option>
																		<option value="visitingTeam">Primera
																			Sangre Visitante-FB-</option>
																	</select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <input style="border-left: 10px; display: none" type="submit" class="btn btn-success" value="Guardar" />
                                            </td>
                                            <td>
                                                <button style="border-left: 10px" class="btn btn-success buttonSave">Guardar</button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget-box collapsible">
                    <div class="widget-title">
                        <a href="#collapseTwo2" data-toggle="collapse"> <span class="icon"><i class="icon-plus"></i></span>
                            <h5>Añadir resultado CS:GO</h5>
                        </a>
                    </div>
                    <div class="collapse in" id="collapseTwo2">
                        <div class="widget-content">
                            <div class="widget-content nopadding">
                                <div class="panel-body">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th data-field="id" data-sortable="true">ID</th>
                                                <th data-field="equipoLocal" data-sortable="true">Equipo local
                                                </th>
                                                <th data-field="equipoVisitante" data-sortable="true">Equipo Visitante
                                                </th>
                                                <th data-field="result" data-sortable="true">Resultado</th>
                                                <th data-field="actions" data-sortable="true">Acciones
                                            </tr>
                                        </thead>
                                        <tr>
                                            <td>id</td>
                                            <td>homeTeam <strong>winHome
												</strong> <strong>firstBloodHome</strong>
                                            </td>
                                            <td>visitingTeam <strong>winVisiting
												</strong> <strong>firstBloodVisiting</strong>
                                            </td>
                                            <td>
                                                <div class="controls">
                                                    <div class="controls">
                                                        <div class="controls">
                                                            <select style="min-width: 200px;" name="winningTeam">-G-
																		<option value="homeTeam">Gana Local -G-</option>
																		<option value="visitingTeam">Gana
																			Visitante -G-</option>
																	</select>
                                                        </div>
                                                    </div>
                                                    <div class="controls">
                                                        <div class="controls">
                                                            <select style="min-width: 200px;" name="firstBlood">-FB-
																		<option value="homeTeam">Primera Sangre
																			Local -FB-</option>
																		<option value="visitingTeam">Primera
																			Sangre Visitante-FB-</option>
																	</select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <input style="border-left: 10px; display: none" type="submit" class="btn btn-success" value="Guardar" />
                                            </td>
                                            <td>
                                                <button style="border-left: 10px" class="btn btn-success buttonSave">Guardar</button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>