<ffbcomp-admin-header></ffbcomp-admin-header>


<div id="content">

    <div *ngFor="let alert of alerts" style="position: fixed; margin-left: 70%">
        <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
    </div>

    <div id="content-header">
        <div id="breadcrumb">
            <a routerLink="/admin/home" title="Go to Home" class="tip-bottom"><i
					class="icon-home"></i> Home</a> <a class="current">Gestión
					de equipos</a>
        </div>
        <h1>Gestión de Equipos</h1>
    </div>
    <div class="container-fluid">

        <hr>
        <div class="row-fluid">

            <div class="span12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5>Tabla de equipos deportivos</h5>
                    </div>
                    <div class="panel-body">
                        <table data-toggle="table" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1"
                            data-pagination="true" data-sort-name="name" data-sort-order="desc" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th data-field="id" data-sortable="true">ID</th>
                                    <th data-field="type" data-sortable="true">Tipo</th>
                                    <th data-field="name" data-sortable="true">Name</th>
                                    <th data-field="coach" data-sortable="true">Entrenador</th>
                                    <th data-field="country" data-sortable="true">País</th>
                                    <th data-field="city" data-sortable="true">Ciudad</th>
                                    <th data-field="slogan" data-sortable="true">Eslogan</th>
                                    <th data-field="stadium" data-sortable="true">Estadio</th>
                                    <th data-field="president" data-sortable="true">Presidente</th>
                                    <th data-field="leagues" data-sortable="true" style="width: 120%">Ligasss</th>
                                    <th data-field="cups" data-sortable="true">Copas</th>
                                    <th data-field="champions" data-sortable="true">Champions</th>
                                    <th data-field="facebook_Uri" data-sortable="true">Facebook</th>
                                    <th data-field="twitter_Uri" data-sortable="true">Twitter</th>
                                    <th data-field="google_Uri" data-sortable="true">Google</th>
                                    <th data-field="imgLogo" data-sortable="true">Imagen logo</th>
                                    <th data-field="imgLogo" data-sortable="true">Imagen estadio</th>
                                    <th data-field="Actions" data-sortable="true">Actions</th>
                                </tr>
                            </thead>
                            <tr *ngFor="let sportTeam of sportsTeams">
                                <td>{{sportTeam.id}}</td>
                                <td><input type="text" name="sportsUpType" value="{{sportTeam.type}}" class="span12" readonly="readonly"
                                    /></td>
                                <td><input type="text" name="sportsUpName" [(ngModel)]="sportTeam.name" class="span12" /></td>
                                <td><input type="text" name="sportsUpCoach" [(ngModel)]="sportTeam.coach" class="span12" /></td>
                                <td><input type="text" name="sportsUpCountry" [(ngModel)]="sportTeam.country" class="span12"
                                    /></td>
                                <td><input type="text" name="sportsUpCity" [(ngModel)]="sportTeam.city" class="span12" /></td>
                                <td><input type="text" name="sportsUpSlogan" [(ngModel)]="sportTeam.slogan" class="span12" /></td>
                                <td><input type="text" name="sportsUpStadium" [(ngModel)]="sportTeam.stadium" class="span12"
                                    /></td>
                                <td><input type="text" name="sportsUpPresident" [(ngModel)]="sportTeam.president" class="span12"
                                    /></td>
                                <td><input type="number" name="sportsUpLeagues" [(ngModel)]="sportTeam.leagues" class="span12"
                                    /></td>
                                <td><input type="number" name="sportsUpCups" [(ngModel)]="sportTeam.cups" class="span12" /></td>
                                <td><input type="number" name="sportsUpChampions" [(ngModel)]="sportTeam.champions" class="span12"
                                    /></td>
                                <td><input type="text" name="sportsUpFb" [(ngModel)]="sportTeam.facebook_Uri" class="span12"
                                    /></td>
                                <td><input type="text" name="sportsUpTw" [(ngModel)]="sportTeam.twitter_Uri" class="span12" /></td>
                                <td><input type="text" name="sportsUpGo" [(ngModel)]="sportTeam.google_Uri" class="span12" /></td>
                                <td>Foto escudo</td>
                                <td>Foto estadio</td>
                                <td><button type="submit" class="btn btn-mini btn-info" (click)="updateSportsTeam(sportTeam)"
                                        style="margin-bottom: 20%">Editar
											</button>
                                    <button type="submit" class="btn btn-mini btn-danger" (click)="removeTeam(sportTeam)"> Borrar </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row-fluid">
            <div class="span12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5>Tabla de equipos egames</h5>
                    </div>
                    <div class="panel-body">
                        <table data-toggle="table" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1"
                            data-pagination="true" data-sort-name="name" data-sort-order="desc" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th data-field="id" data-sortable="true">ID</th>
                                    <th data-field="type" data-sortable="true">Tipo</th>
                                    <th data-field="name" data-sortable="true">Name</th>
                                    <th data-field="coach" data-sortable="true">Entrenador</th>
                                    <th data-field="country" data-sortable="true">País</th>
                                    <th data-field="city" data-sortable="true">Ciudad</th>
                                    <th data-field="sponsor" data-sortable="true">Sponsor</th>

                                    <th data-field="Actions" data-sortable="true">
                                        Actions
                                    </th>
                                </tr>
                            </thead>
                            <tr *ngFor="let egamesTeam of egamesTeams">
                                <td>{{egamesTeam.id}}</td>
                                <td><input type="text" name="egamesUpType" placeholder="{{egamesTeam.type}}" class="span10" style="margin-left: 10%"
                                        readonly="readonly" /></td>
                                <td><input type="text" name="egamesUpName" [(ngModel)]="egamesTeam.name" class="span10" style="margin-left: 10%"
                                    /></td>
                                <td><input type="text" name="egamesUpCoach" [(ngModel)]="egamesTeam.coach" class="span10" style="margin-left: 10%"
                                    /></td>
                                <td><input type="text" name="egamesUpCountry" [(ngModel)]="egamesTeam.country" class="span10"
                                        style="margin-left: 10%" /></td>
                                <td><input type="text" name="egamesUpCity" [(ngModel)]="egamesTeam.city" class="span10" style="margin-left: 10%"
                                    /></td>
                                <td><input type="text" name="egamesUpCity" [(ngModel)]="egamesTeam.sponsor" class="span10" style="margin-left: 10%"
                                    /></td>

                                <td><button type="submit" class="btn btn-mini btn-info" (click)="updateEgamesTeam(egamesTeam)"
                                        style="margin-left: 15%; margin-bottom: 20%">Editar
											</button>
                                    <button type="submit" class="btn btn-mini btn-danger" (click)="removeTeam(egamesTeam)" style="margin-left: 15%; margin-bottom: 20%"> Borrar </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row-fluid">
            <div class="span6">
                <accordion [closeOthers]="false">
                    <div class="widget-box collapsible">
                        <accordion-group [isOpened]=true>
                            <accordion-heading>
                                <div class="widget-title">
                                    <a><span class="icon"><i class="icon-plus"></i></span>
                                    <h5>Añadir nuevo equipo deportivo</h5></a>
                                </div>
                            </accordion-heading>
                            <form #newSportTeamForm="ngForm" class="form-horizontal" (ngSubmit)="newSportsTeam(newSportTeamForm.value)" novalidate>
                                <div class="control-group">
                                    <label class="control-label">Tipo de deporte :</label>
                                    <div class="controls form-group">
                                        <select ngModel #spTypeRef="ngModel" name="type" required>
										    <option value="Fútbol">Fútbol</option>
										    <option value="Baloncesto">Baloncesto</option>
									    </select>
                                    </div>
                                    <div [hidden]="spTypeRef.valid || spNameRef.untouched" class="alert alert-danger ffbalert">
                                        Por favor introduce un tipo
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Nombre :</label>
                                    <div class="controls form-group">
                                        <input ngModel #spNameRef="ngModel" minlength="2" name="name" class="span11 form-control" placeholder="Nombre del equipo"
                                            required/>
                                        <b>{{spNameRef.className}}</b>
                                    </div>
                                    <div [hidden]="spNameRef.valid || spNameRef.pristine" class="alert alert-danger ffbalert">
                                        Por favor introduce un nombre
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">País :</label>
                                    <div class="controls form-group">
                                        <input ngModel name="country" type="text" class="span11 form-control" placeholder="País del equipo" />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Ciudad :</label>
                                    <div class="controls form-group">
                                        <input ngModel name="city" type="text" class="span11 form-control" placeholder="Ciudad del equipo" />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Estadio :</label>
                                    <div class="controls form-group">
                                        <input ngModel name="stadium" type="text" class="span11 form-control" placeholder="Nombre del campo de fútbol" />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Eslogan :</label>
                                    <div class="controls form-group">
                                        <input ngModel name="slogan" type="text" class="span11 form-control" placeholder="Frase típica de la afición de este equipo"
                                        />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Presidente :</label>
                                    <div class="controls form-group">
                                        <input ngModel name="president" type="text" class="span11 form-control" placeholder="Nombre del presidente" />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Entrenador :</label>
                                    <div class="controls form-group">
                                        <input ngModel name="coach" type="text" class="span11 form-control" placeholder="Nombre del entrenador" />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Ligas :</label>
                                    <div class="controls form-group">
                                        <input ngModel name="leagues" type="number" class="span11 form-control" placeholder="Número de ligas ganadas" />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Copas :</label>
                                    <div class="controls form-group">
                                        <input ngModel name="cups" type="number" class="span11 form-control" placeholder="Número de copas ganadas" />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Champions :</label>
                                    <div class="controls form-group">
                                        <input ngModel name="champions" type="number" class="span11 form-control" placeholder="Número de champions ganadas" />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Facebook :</label>
                                    <div class="controls form-group">
                                        <input ngModel name="facebook" type="url" class="span11 form-control" placeholder="URL de su página de Facebook" />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Twitter :</label>
                                    <div class="controls form-group">
                                        <input ngModel name="twitter" type="url" class="span11 form-control" placeholder="URL de su página de Twitter" />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Google :</label>
                                    <div class="controls form-group">
                                        <input ngModel name="google" type="url" class="span11 form-control" placeholder="URL de su página de Google+" />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Imagen Escudo :</label>
                                    <div class="controls form-group">
                                        <input type="file" name="logoImage" />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Imagen Estadio :</label>
                                    <div class="controls form-group">
                                        <input type="file" name="stadiumImage" />
                                    </div>
                                </div>
                                <div [hidden]="newSportTeamForm.form.valid" style="max-width: 60%;" class="alert alert-warning">
                                    Please look at the errors
                                </div>
                                <div style="margin-left:80%">
                                    <button [disabled]="!newSportTeamForm.form.valid" type="submit" class="btn btn-success">Añadir</button>
                                </div>
                            </form>
                        </accordion-group>
                    </div>
                </accordion>
            </div>
            <div class="span6">
                <accordion [closeOthers]="false">
                    <div class="widget-box collapsible">
                        <accordion-group [isOpened]=true>
                            <accordion-heading>
                                <div class="widget-title">
                                    <a><span class="icon"><i class="icon-plus"></i></span>
                                    <h5>Añadir nuevo equipo E-Games</h5></a>
                                </div>
                            </accordion-heading>
                            <form #newEgamesTeamForm="ngForm" class="form-horizontal" (ngSubmit)="newEgamesTeam(newEgamesTeamForm.value)" novalidate>
                                <div class="control-group">
                                    <label class="control-label">Tipo de juego :</label>
                                    <div class="controls form-group">
                                        <select ngModel #egTypeRef="ngModel" name="type" required>
										<option value="LOL">League of legends</option>
										<option value="CS-GO">Counter Strike GO</option>
									</select>
                                    </div>
                                    <div [hidden]="egTypeRef.valid || egNameRef.untouched" class="alert alert-danger ffbalert">
                                        Por favor introduce un tipo
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Nombre :</label>
                                    <div class="controls form-group">
                                        <input ngModel #egNameRef="ngModel" name="name" minlength="2" class="span11 form-control" placeholder="Nombre del equipo" required
                                        />
                                        <b>{{egNameRef.className}}</b>
                                    </div>
                                    <div [hidden]="egNameRef.valid || egNameRef.pristine" class="alert alert-danger ffbalert">
                                        Por favor introduce un nombre
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">País :</label>
                                    <div class="controls form-group">
                                        <input ngModel name="country" class="span11 form-control" placeholder="País del equipo" />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Ciudad :</label>
                                    <div class="controls form-group">
                                        <input ngModel name="city" class="span11 form-control" placeholder="Ciudad del equipo" />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Entrenador :</label>
                                    <div class="controls form-group">
                                        <input ngModel name="coach" class="span11 form-control" placeholder="Nombre del entrenador" />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Sponsor :</label>
                                    <div class="controls form-group">
                                        <input ngModel name="sponsor" class="span11 form-control" placeholder="Nombre del patrocinador principal del equipo" />
                                    </div>
                                </div>
                                <div [hidden]="newEgamesTeamForm.form.valid" style="max-width: 60%;" class="alert alert-warning">
                                    Please look at the errors
                                </div>
                                <div style="margin-left:80%">
                                    <button [disabled]="!newEgamesTeamForm.form.valid" type="submit" class="btn btn-success">Añadir</button>
                                </div>
                            </form>
                        </accordion-group>
                    </div>
                </accordion>
            </div>
        </div>
    </div>
</div>


<ffbcomp-admin-footer></ffbcomp-admin-footer>