/* You can add global styles to this file, and also import other style files */

.container-dots {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  filter: url('#goo');
  animation: rotate-move 2s ease-in-out infinite;
}

.dot {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.dot-3 {
  background-color: #f74d75;
  animation: dot-3-move 2s ease infinite;
}

.dot-2 {
  background-color: #10beae;
  animation: dot-2-move 2s ease infinite;
}

.dot-1 {
  background-color: #ffe386;
  animation: dot-1-move 2s ease infinite;
}

@keyframes dot-3-move {
  20% {transform: scale(1)}
  45% {transform: translateY(-18px) scale(.45)}
  60% {transform: translateY(-90px) scale(.45)}
  80% {transform: translateY(-90px) scale(.45)}
  100% {transform: translateY(0px) scale(1)}
}

@keyframes dot-2-move {
  20% {transform: scale(1)}
  45% {transform: translate(-16px, 12px) scale(.45)}
  60% {transform: translate(-80px, 60px) scale(.45)}
  80% {transform: translate(-80px, 60px) scale(.45)}
  100% {transform: translateY(0px) scale(1)}
}

@keyframes dot-1-move {
  20% {transform: scale(1)}
  45% {transform: translate(16px, 12px) scale(.45)}
  60% {transform: translate(80px, 60px) scale(.45)}
  80% {transform: translate(80px, 60px) scale(.45)}
  100% {transform: translateY(0px) scale(1)}
}

@keyframes rotate-move {
  55% {transform: rotate(0deg)}
  80% {transform: rotate(360deg)}
  100% {transform: rotate(360deg)}
}

/*APP CURSORS*/

li.dropdown.pull-right {
    cursor: pointer;
}

a {
    cursor: pointer;
}

ul.nav.nav-justified.nav-pills {

    background: #ffd48f;
    border: 1px solid #428bca!important;
    border-radius: 16px!important;
}

li.nav-item.active{

    border-radius: 16px!important;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
   border-radius: 16px!important;
      background-color: #428bca!important;
}

.nav-pills>li>a:hover, .nav-pills>li>a:focus{
   border-radius: 16px!important;
   background-color: #fce0b4!important;
}

/*Ng-form error styles*/
input.ng-invalid{
  border-left: 5px solid red;
}
input.ng-valid{
  border-left: 5px solid green;
}
select.ng-pristine.ng-invalid{
  border-left: 5px solid red;
}
select.ng-dirty.ng-valid{
  border-left: 5px solid green;
}
.alert.alert-danger.ffbalert{
      max-width: 50%;
    margin-left: 40%;
}