<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0; user-scalable=no; target-densityDpi=device-dpi" />
    <title>FFBet - ADMIN</title>
    <link rel="icon" type="image/png" href="admin/img/faviconFFBpng.png" />
    <link rel="stylesheet" href="admin/css/bootstrap.min.css" />
    <link rel="stylesheet" href="admin/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="admin/css/fullcalendar.css" />
    <link rel="stylesheet" href="admin/css/matrix-style.css" />
    <link rel="stylesheet" href="admin/css/matrix-media.css" />
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="admin/css/jquery.gritter.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'> </head>

<body>
    <!--Header-part-->
    <div id="header">
        <h1></h1></div>
    <!--close-Header-part-->
    <!--top-Header-menu-->
    <div id="user-nav" class="navbar navbar-inverse">
        <ul class="nav">
            <li class=""><a title="" href="#"><i class="icon icon-user"></i> <span class="text">Bienvenido Usuario</span><b class="caret"></b></a> </li>
            <li class=""><a title="" href="#"><i class="icon icon-cog"></i> <span id="reloj" class="text">Configuración</span></a></li>
            <li class=""><a title="" href="#"><i class="icon icon-share-alt"></i> <span class="text">Logout</span></a></li>
        </ul>
    </div>
    <!--close-top-Header-menu-->
    <div id="sidebar"><a href="#" class="visible-phone"><i class="icon icon-list"></i> MENU</a>
        <ul>
            <li class="active"><a href="cpanelhome"><i class="icon icon-home"></i> <span>Home</span></a> </li>
            <li> <a href="cpanelequipo"><i class="icon icon-signal"></i> <span>Equipos</span></a> </li>
            <li> <a href="cpanelpartido"><i class="icon icon-inbox"></i> <span>Partidos</span></a> </li>
            <li><a href="cpanelresultado"><i class="icon icon-th"></i> <span>Resultados</span></a></li>
            <li> <a href="cpanelpromocion"><i class="icon icon-th-list"></i> <span>Promociones</span> </a></li>
        </ul>
    </div>
    <!--sidebar-menu-->
    <!--main-container-part-->
    <div id="content">
        <!--breadcrumbs-->
        <div id="content-header">
            <div id="breadcrumb"> <a href="home" title="Go to Home" class="current"><i class="icon-home"></i> Home</a></div>
        </div>
        <!--End-breadcrumbs-->
        <!--Action boxes-->
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <h1 class="titulo_central">BIENVENIDO AL PANEL DE CONTROL</h1> </div>
            </div>
            <div class="quick-actions_homepage">
                <ul class="quick-actions">
                    <li class="bg_lb">
                        <a href="cpanelhome"> <i class="icon-dashboard"></i> Home </a>
                    </li>
                    <li class="bg_lg span3">
                        <a href="cpanelequipo"> <i class="icon-signal"></i>Equipos</a>
                    </li>
                    <li class="bg_ly">
                        <a href="cpanelpartido"> <i class="icon-inbox"></i>
                            <!--<span class="label label-success">101</span>-->Partidos</a>
                    </li>
                    <li class="bg_lo">
                        <a href="cpanelresultado"> <i class="icon-th"></i>Resultados</a>
                    </li>
                    <li class="bg_ls">
                        <a href="cpanelpromocion"> <i class="icon-fullscreen"></i>Promociones</a>
                    </li>
                </ul>
            </div>
            <!--End-Action boxes-->
        </div>
    </div>
    <!--end-main-container-part-->
    <!--Footer-part-->
    <div class="row-fluid">
       <div id="footer " class="span12 " style="margin-left: 20%"> 2017 &copy; FFBet Admin. Developed by @AdrianPedriza, @JesusPrieto22, @MarcoCaballero, @Peloxoo <a href="https://github.com/MarcoCaballero/FFB_DAW">GITHUB repository</a> </div>
    </div>
    <!--end-Footer-part-->
    <script src="admin/js/excanvas.min.js"></script>
    <script src="admin/js/jquery.min.js"></script>
    <script src="admin/js/jquery.ui.custom.js"></script>
    <script src="admin/js/bootstrap.min.js"></script>
    <script src="admin/js/jquery.flot.min.js"></script>
    <script src="admin/js/jquery.flot.resize.min.js"></script>
    <script src="admin/js/jquery.peity.min.js"></script>
    <script src="admin/js/fullcalendar.min.js"></script>
    <script src="admin/js/matrix.js"></script>
    <script src="admin/js/matrix.dashboard.js"></script>
    <script src="admin/js/jquery.gritter.min.js"></script>
    <script src="admin/js/matrix.interface.js"></script>
    <script src="admin/js/matrix.chat.js"></script>
    <script src="admin/js/jquery.validate.js"></script>
    <script src="admin/js/matrix.form_validation.js"></script>
    <script src="admin/js/jquery.wizard.js"></script>
    <script src="admin/js/jquery.uniform.js"></script>
    <script src="admin/js/select2.min.js"></script>
    <script src="admin/js/matrix.popover.js"></script>
    <script src="admin/js/jquery.dataTables.min.js"></script>
    <script src="admin/js/matrix.tables.js"></script>
    <script type="text/javascript">
        // This function is called from the pop-up menus to transfer to
        // a different page. Ignore if the value returned is a null string:
        function goPage(newURL) {
            // if url is empty, skip the menu dividers and reset the menu selection to default
            if (newURL != "") {
                // if url is "-", it is this page -- reset the menu:
                if (newURL == "-") {
                    resetMenu();
                }
                // else, send page to designated URL            
                else {
                    document.location.href = newURL;
                }
            }
        }
        // resets the menu selection upon entry to this page:
        function resetMenu() {
            document.gomenu.selector.selectedIndex = 2;
        }
    </script>
    <script type="text/javascript">
        function startTime() {
            today = new Date();
            h = today.getHours();
            m = today.getMinutes();
            s = today.getSeconds();
            m = checkTime(m);
            s = checkTime(s);
            document.getElementById('reloj').innerHTML = h + ":" + m + ":" + s;
            t = setTimeout('startTime()', 500);
        }

        function checkTime(i) {
            if (i < 10) {
                i = "0" + i;
            }
            return i;
        }
        window.onload = function () {
            startTime();
        }
    </script>
</body>

</html>