<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<base href="/">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Entra FFB</title>
<link rel="stylesheet" href="admin/css/bootstrap.min.css" />
<link rel="stylesheet" href="admin/css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="admin/css/matrix-login.css" />
<link href="user/font-awesomeExtra/css/font-awesome.css"
	rel="stylesheet" />
<link
	href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800'
	rel='stylesheet' type='text/css'>
</head>

<body id="loginBodyFFB">
	<div id="loginbox"
		style="position: fixed; left: 35%; margin-top: 3%;  margin-bottom: 3%;">
		<form id="loginform" style="background-color: rgba(0, 0, 0, 0.65);"
			class="form-vertical" action="login" method="POST">
			<div class="control-group normal_text"
				style="background-color: rgba(0, 0, 0, 0);">
				<h3>
					<img src="user/img/LogoFFBalpha.png" height="200px" alt="Logo" />
				</h3>
			</div>
			<div class="control-group">
				<div class="controls">
					<div class="main_input_box">
						<span class="add-on bg_lg"><i class="icon-user"> </i></span> <input
							type="text" name="username" placeholder="Correo electrónico" />
					</div>
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<div class="main_input_box">
						<span class="add-on bg_ly"><i class="icon-lock"></i></span> <input
							type="password" name="password" placeholder="Contraseña" /> <input
							type="hidden" name="_csrf" value="{{token}}" />
					</div>
					{{#isError}}
					<h5 style="color: red"> La contraseña o usuario
						son erroneos, o 
						<p> tienes una sesión abierta en otro dispositivo </p>
					</h5>
					{{/isError}}
				</div>
			</div>
			<div class="form-actions">
				<span class="pull-left"><a href="login#"
					class="flip-link btn btn-danger" id="to-recover">¿Olvidó su
						contraseña?</a></span> <span class="pull-right"><input type="submit"
					class="btn btn-primary" value="Entrar"></span>


			</div>
			<div class="row" >
				<span class="pull-right"><a href="signup" style="font-size:medium; margin-right: 4%;" id="tipo">¿No te has registrado aún? </a></span>
			</div>
		</form>
		<form id="recoverform" action="" class="form-vertical"
			style="background-color: rgba(0, 0, 0, 0.65);">
			<p class="normal_text" style="background-color: rgba(0, 0, 0, 0);">Introduce
				tu dirección de correo y te enviaremos instrucciones para recuperar
				tu contraseña.</p>
			<div class="controls">
				<div class="main_input_box">
					<span class="add-on bg_lo"><i class="icon-envelope"></i></span> <input
						type="text" placeholder="Dirección de correo" />
				</div>
			</div>
			<div class="form-actions">
				<span class="pull-left"><a href="login#"
					class="flip-link btn btn-success" id="to-login">&laquo; Volver
						al login</a></span> <span class="pull-right"><a class="btn btn-info">Enviar</a></span>
			</div>
		</form>
	</div>
	<script src="user/jsExtra/jquery.min.js"></script>
	<script src="user/jsExtra/matrix.login.js"></script>
</body>

</html>