<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FFBet - Entra y apuesta</title>
    <link rel="icon" type="image/png" href="user/img/faviconFFBpng.png" />
    <link href="user/css/bootstrap.min.css" rel="stylesheet">
    <link href="user/css/datepicker3.css" rel="stylesheet">
    <link href="user/css/styles.css" rel="stylesheet">
    <!--Icons-->
    <script src="user/js/lumino.glyphs.js"></script>
    <!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
                <ul class="user-menu">
                    <li class="dropdown pull-right" style="margin-top:-3%;">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <svg class="glyph stroked male-user"> <img class="img-circle" src="user/img/pedroaccount.jpg" height="25px" /> </svg> Pedro Espinoza <span class="caret"></span></a>
                        <ul class="dropdown-menu" style="border-radius: 10%;">
                            <li>
                                <div class="navbar-login">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <p class="text-center">
                                                <svg class="glyph stroked male-user"> <img class="img-circle" src="img/pedroaccount.jpg" height="100px" /> </svg>
                                            </p>
                                        </div>
                                        <div class="col-lg-8">
                                            <p class="text-left"><strong>Pedro Espinoza</strong></p>
                                            <p class="text-left small">correoElectronico@email.com
                                                <a style="color:black;" href="micuenta">
                                                    <h6 style="color:black;">Tu saldo es:<em><i>19,99€</i></em></h6> </a>
                                            </p>
                                            <p class="text-left"> <a href="depositar" class="btn btn-primary btn-block btn-sm">Depositar</a>
                                                <a href="micuenta" class="btn btn-primary btn-block btn-sm" style="background-color: #6469c6;border-color:#6469c6;">
                                                    <svg class="glyph stroked gear hidden"> <img class="glyph stroked pencil" src="user/img/userlogo.svg" width="16px"> </svg> Mi cuenta</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <div class="navbar-login navbar-login-session">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <p>
                                                <a href="#" class="btn btn-danger btn-block">
                                                    <svg class="glyph stroked cancel">
                                                        <use xlink:href="#stroked-cancel"></use>
                                                    </svg>Cerrar Sesion</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown pull-right fixing">
                        <a href="micuenta" class="dropdown-toggle">
                            <h6 style="color:white;">Tu saldo es:<em><i>19,99€</i></em></h6> </a>
                    </li>
                </ul>
                <a href="depositar"><img class="imgfixedmenu" src="user/img/walletmdesign.png" style="float:left;" width="35px"></a>
            </div>
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
        <!--<form role="search">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Search">
			</div>
		</form>-->
        <section class="active"> <img class="logoBack" src="user/img/LogoFFBalpha.png" width="100%"> </section>
        <ul class="nav menu">
            <li>
                <a href="index"> <img class="glyph stroked home" src="user/img/home.svg" /> Home</a>
            </li>
            <li>
                <a href="apuestasdeportivas"> <img class="glyph stroked home" src="user/img/ball.svg" />Apuestas Deportivas</a>
            </li>
            <li>
                <a href="apuestasesports"> <img class="glyph stroked pencil" src="user/img/games_b.svg" /> Apuestas E-games</a>
            </li>
            <li>
                <a href="promociones"> <img class="glyph stroked pencil" src="user/img/star.svg" /> Ofertas y Promociones</a>
            </li>
            <li>
                <a href="micuenta"> <img class="glyph stroked pencil" src="user/img/userlogo.svg" />Mi Cuenta</a>
            </li>
            <li role="presentation" class="divider"></li>
            <li>
                <li>
                    <a href="registrarse">
                        <svg class="glyph stroked male-user">
                            <use xlink:href="#stroked-male-user"></use>
                        </svg>Registrate</a>
                </li>
        </ul>
    </div>
    <!--/.sidebar-->
    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
        <div class="row">
            <ol class="breadcrumb">
                <li>
                    <a href="index">
                        <svg class="glyph stroked home">
                            <use xlink:href="#stroked-home"></use>
                        </svg>
                    </a>
                </li>
                <li class="active">Mi cuenta / Retirar</li>
            </ol>
        </div>
        <!--/.row-->
        <!--/.row-->
        <div class="row">
            <div class=" col-sm-10 col-md-8 col-sm-offset-2 col-lg-8 col-lg-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading"><span class="glyphicon glyphicon-user"></span>Retira el saldo de tu cuenta</div>
                    <div class="panel-body">
                        <form class="form-horizontal" action="" method="post">
                            <fieldset>
                                <!-- Name input-->
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="name">Nombre*</label>
                                    <div class="col-md-9">
                                        <input id="name" name="name" type="text" placeholder="Nombre" class="form-control" required> </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="name">Primer apellido*</label>
                                    <div class="col-md-9">
                                        <input id="name" name="primerApellido" type="text" placeholder="Primer apellido" class="form-control" required> </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="name">Segundo apellido*</label>
                                    <div class="col-md-9">
                                        <input id="name" name="segundoApellido" type="text" placeholder="Segundo apellido" class="form-control" required> </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="name">Nº Tarjeta*</label>
                                    <div class="col-md-3">
                                        <input id="numTarjeta" name="numeroTarjeta" type="number" placeholder="Nº de Tarjeta" required> </div>
                                    <label class="col-md-3 control-label" for="name">Importe €*</label>
                                    <div class="col-md-3">
                                        <input style="width: 100px;" id="numTarjeta" name="numeroTarjeta" type="number" placeholder="Importe" required> </div>
                                </div>
                                <!-- Form actions -->
                                <div class="form-group">
                                    <div class="col-md-12 widget-right">
                                        <label class="col-md-3 control-label" for="name">* Campo obligatorio</label>
                                        <button type="submit" class="btn btn-default btn-md pull-right">Retirar</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <!--/.col-->
        </div>
        <!--/.row-->
    </div>
    <!--/.main-->
    <div id="footer" class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 footer">
        <div class="container-fluid">
            <!--<p class="muted credit">Example courtesy <a href="http://martinbean.co.uk">Martin Bean</a> and <a href="http://ryanfait.com/sticky-footer/">Ryan Fait</a>.</p>
                        
                            <!-- CAROUSEL PARTNERS ROW-->
            <div class="row">
                <div id="jssor_1">
                    <!-- Loading Screen -->
                    <div class="jssor_banner" data-u="loading">
                        <div class="jssor_banner2"></div>
                        <div class="jssor_banner3"></div>
                    </div>
                    <div class="jssor_slides" data-u="slides">
                        <div> <img data-u="image" src="user/img/slide_jsor_1.jpg" height="50px" /> </div>
                        <div class="jsorpadding"> </div>
                        <div> <img data-u="image" src="user/img/slide_jsor_2.png" height="50px" /> </div>
                        <div class="jsorpadding"> </div>
                        <div> <img data-u="image" src="user/img/slide_jsor_3.png" height="50px" /> </div>
                        <div class="jsorpadding"> </div>
                        <div> <img data-u="image" src="user/img/juegoseguro.png" height="50px" /> </div>
                        <div class="jsorpadding"> </div>
                        <div> <img data-u="image" src="user/img/slide_jsor_1.jpg" height="50px" /> </div>
                        <div class="jsorpadding"> </div>
                        <div> <img data-u="image" src="user/img/slide_jsor_2.png" height="50px" /> </div>
                        <div class="jsorpadding"> </div>
                        <div> <img data-u="image" src="user/img/slide_jsor_3.png" height="50px" /> </div>
                        <div class="jsorpadding"> </div>
                        <div> <img data-u="image" src="user/img/juegoseguro.png" height="50px" /> </div>
                        <div class="jsorpadding"> </div>
                        <div> <img data-u="image" src="user/img/slide_jsor_1.jpg" height="50px" /> </div>
                        <div class="jsorpadding"> </div>
                        <div> <img data-u="image" src="user/img/slide_jsor_2.png" height="50px" /> </div>
                        <div class="jsorpadding"> </div>
                        <div> <img data-u="image" src="user/img/slide_jsor_3.png" height="50px" /> </div>
                        <div class="jsorpadding"> </div>
                        <div> <img data-u="image" src="user/img/juegoseguro.png" height="50px" /> </div>
                        <div class="jsorpadding"> </div>
                    </div>
                </div>
                <script type="text/javascript">
                    jssor_1_slider_init();
                </script>
            </div>
            <!-- #endregion Jssor Slider End -->
            <ul class="nav menu">
                <li role="presentation" class="pp"></li>
            </ul>
            <div class="row"> <img src="user/img/barra_liga_santander.png" class="imagen_equipos"> </div>
            <ul class="nav menu">
                <li role="presentation" class="pp"></li>
            </ul>
            <div class="row">
                <ul class="menu_info">
                    <li> <strong>TOP LINKS</strong> </li>
                    <li> <a href="index" class="enlaceFooter"> Home </a> </li>
                    <li> <a href="apuestasdeportivas" class="enlaceFooter"> Apuestas Deportivas </a> </li>
                    <li> <a href="apuestasesports" class="enlaceFooter"> Apuestas E-games </a> </li>
                    <li> <a href="promociones" class="enlaceFooter"> Ofertas y Promociones </a> </li>
                    <li> <a href="registrarse" class="enlaceFooter"> Registro </a> </li>
                </ul>
                <ul class="menu_info">
                    <li> <strong>INFO</strong> </li>
                    <li> <a href="#" class="enlaceFooter"> Privacy policy </a> </li>
                    <li> <a href="http://politicadecookies.com/" class="enlaceFooter"> Cookie policy </a> </li>
                    <li> <a href="http://www.loteriasyapuestas.es/es/paginas-informativas/politica-de-uso-de-la-web-y-sitios-moviles-webs-juego-y-corporativa.info?nomobile=1#" class="enlaceFooter">  User policy </a> </li>
                    <li> <a href="http://www.madrid.org/cs/Satellite?cid=1142331785996&pagename=PortalJoven%2FPage%2FJUVE_contenidoFinalMenuIzquierdo" class="enlaceFooter">  Responsible Gaming </a> </li>
                </ul>
            </div>
            <ul class="nav menu">
                <li role="presentation" class="pp"></li>
            </ul>
            <div class="row">
                <div class="copyright">
                    <a href="@" target="_self"></a><img src="user/img/+18.png" height="25px"> <span>Copyright © 2017 FFbet.com (España)</span> </div>
            </div>
        </div>
    </div>
    <!--/.footer-->
    <script src="user/js/jquery-1.11.1.min.js"></script>
    <script src="user/js/bootstrap.min.js"></script>
    <script src="user/js/chart.min.js"></script>
    <script src="user/js/chart-data.js"></script>
    <script src="user/js/easypiechart.js"></script>
    <script src="user/js/easypiechart-data.js"></script>
    <script src="user/js/bootstrap-datepicker.js"></script>
    <script>
        $('#calendar').datepicker({});
        ! function ($) {
            $(document).on("click", "ul.nav li.parent > a > span.icon", function () {
                $(this).find('em:first').toggleClass("glyphicon-minus");
            });
            $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
        }(window.jQuery);
        $(window).on('resize', function () {
            if ($(window).width() > 767) $('#sidebar-collapse').collapse('show')
        })
        $(window).on('resize', function () {
            if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
        })
    </script>
</body>

</html>