<!DOCTYPE html>
<html lang="en">

<head>
    <title>FFBet - ADMIN</title>
    <base href="/">
    <link rel="icon" type="image/png" href="admin/img/faviconFFBpng.png" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="admin/css/bootstrap.min.css" />
    <link rel="stylesheet" href="admin/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="admin/css/matrix-login.css" />
    <link href="admin/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'> </head>

<body>
    <div id="loginbox">
        <form id="loginform" class="form-vertical" action="admin-login" method="POST">
            <div class="control-group normal_text">
                <h3><img src="admin/img/logoFFBadmin.png" alt="Logo" /></h3></div>
            <div class="control-group">
                <div class="controls">
                    <div class="main_input_box"> <span class="add-on bg_lg"><i class="icon-user"> </i></span>
                        <input type="text" name="username" placeholder="Correo electrónico" /> </div>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <div class="main_input_box"> <span class="add-on bg_ly"><i class="icon-lock"></i></span>
                        <input type="password" name="password" placeholder="Contraseña" /> </div>
                        <input type="hidden" name="_csrf" value="{{token}}"/>
                </div>
                <h3>
                {{#isError}}
                	La contraseña o usuario son erroneos.
                {{/isError}}
                
                
                </h3>
            </div>
            <div class="form-actions"><span class="pull-right"><input type="submit" class="btn btn-success" value="SingIn"> </span> </div>
        </form>
        <form id="recoverform" action="#" class="form-vertical">
            <p class="normal_text">Introduce tu dirección de correo y te enviaremos instrucciones para recuperar tu contraseña.</p>
            <div class="controls">
                <div class="main_input_box"> <span class="add-on bg_lo"><i class="icon-envelope"></i></span>
                    <input type="text" placeholder="Dirección de correo" /> </div>
            </div>
            <div class="form-actions"> <span class="pull-left"><a href="#" class="flip-link btn btn-success" id="to-login">&laquo; Volver al login</a></span> <span class="pull-right"><a class="btn btn-info">Enviar</a></span> </div>
        </form>
    </div>
    <script src="admin/js/jquery.min.js"></script>
    <script src="admin/js/matrix.login.js"></script>
</body>

</html>