<ffbcomp-user-menu-header></ffbcomp-user-menu-header>

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
	<div class="row">
		<ol class="breadcrumb">
			<li>
				<a routerLink="/user/home"> <span class="glyphicon glyphicon-home">  </span>
				</a>
			</li>
			<li class="active">{{title}}</li>
		</ol>
	</div>
	<!--Esto ya no es común a todas las páginas-->
	<!--Publicidad y etcs-->
	<div class="row">
		<div class="row">
			<div class="col-lg-11 col-md-11" style="margin-left: 7rem;">
				<h1 class="page-header"></h1>
				<div id="myVideoBG">
					<section id="banner">
						<iframe frameborder="0" height="100%" width="100%" src="https://youtube.com/embed/tEnsqpThaFg?autoplay=1&controls=1&showinfo=0&autohide=1">
						</iframe>
					</section>
				</div>
				<div class="container">
					<div class="videobg-caption">
						<h1></h1>
						<p>
							<img src="../assets/images/faviconFFBpngGold.png" style="height: 80px;" />
						</p>
						<p>
							<a routerLink="/user/sporstbet" class="btn btn-lg btn-primary" style="color: white;" role="button">Apuesta YA!</a>
						</p>
					</div>
				</div>
				<!-- /.carousel VIDEO-->
			</div>
			<!--/.row-->
			<div class="row">
				<div class="col-md-7" style="padding-left: 30px; margin-left: 7rem;">
					<div class="panel panel-default">
						<div class="panel-body tabs">

							<tabset #staticTabs>
								<tab>
									<template tabHeading>
										<span class="glyph stroked 	glyphicon glyphicon-star" style="color: black"> </span> LOL
									</template>
									<table class="table table-striped">
										<thead>
											<tr class="tab-logo-liga">
												<th colspan="3"><img class="glyph stroked home" src="../assets/images/lol_logo.png" style="width: 150px; height: 60px;"></th>
												<th>
													<div class="col-xs-6 col-md-3 text-center">1</div>
													<div class="col-xs-6 col-md-3 text-center">2</div>
													<div class="col-xs-6 col-md-3 text-center">
														F.Blood(1)</div>
													<div class="col-xs-6 col-md-3 text-center">
														F.Blood(2)</div>
												</th>
											</tr>
										</thead>
										<tbody>
											<tr class="tab-horario-partido">
												<th scope="row">1</th>
												<td class="tab-horario-partido"> date time </td>
												<td class="tab-equipos-partido"> homeTeam - visitingTeam </td>
												<td class="tab-buttons-apuesta-simple">
													<div class="col-xs-6 col-md-3 center-block">
														<a href="/user-EsportsBet/addMatch/ id /1" type="button" class="btn btn-outline-success" style="border: 1px solid #5cb85c;">@ quotaHomeVictory </a>
													</div>
													<div class="col-xs-6 col-md-3 center-block">
														<a href="/user-EsportsBet/addMatch/ id /2" type="button" class="btn btn-outline-success" style="border: 1px solid #5cb85c;">@ quotaVisitingVictory </a>
													</div>
													<div class="col-xs-6 col-md-3 center-block">
														<a href="/user-EsportsBet/addMatch/ id /FB1" type="button" class="btn btn-outline-success" style="border: 1px solid #5cb85c;">@ quotaHomeFirstBlood </a>
													</div>
													<div class="col-xs-6 col-md-3 center-block">
														<a href="/user-EsportsBet/addMatch/ id /FB2" type="button" class="btn btn-outline-success" style="border: 1px solid #5cb85c;">@ quotaVisitingFirstBlood </a>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</tab>
								<tab>
									<template tabHeading>
										<span class="glyph stroked 	glyphicon glyphicon-star-empty" style="color: black"> </span> CS-GO
									</template>

									<table class="table table-striped">
										<thead>
											<tr class="tab-logo-liga">
												<th colspan="3"><img class="glyph stroked home" src="../assets/images/CSGO.png" style="width: 100px; height: 55px;"></th>
												<th>
													<div class="col-xs-6 col-md-3 text-center">1</div>
													<div class="col-xs-6 col-md-3 text-center">2</div>
													<div class="col-xs-6 col-md-3 text-center">
														F.Blood(1)</div>
													<div class="col-xs-6 col-md-3 text-center">
														F.Blood(2)</div>
												</th>
											</tr>
										</thead>
										<tbody>
											<tr class="tab-horario-partido">
												<th scope="row">1</th>
												<td class="tab-horario-partido"> date time </td>
												<td class="tab-equipos-partido"> homeTeam - visitingTeam </td>
												<td class="tab-buttons-apuesta-simple">
													<div class="col-xs-6 col-md-3 center-block">
														<a href="/user-EsportsBet/addMatch/ id /1" type="button" class="btn btn-outline-success" style="border: 1px solid #5cb85c;">@ quotaHomeVictory </a>
													</div>
													<div class="col-xs-6 col-md-3 center-block">
														<a href="/user-EsportsBet/addMatch/ id /2" type="button" class="btn btn-outline-success" style="border: 1px solid #5cb85c;">@ quotaVisitingVictory </a>
													</div>
													<div class="col-xs-6 col-md-3 center-block">
														<a href="/user-EsportsBet/addMatch/ id /FB1" type="button" class="btn btn-outline-success" style="border: 1px solid #5cb85c;">@ quotaHomeFirstBlood </a>
													</div>
													<div class="col-xs-6 col-md-3 center-block">
														<a href="/user-EsportsBet/addMatch/ id /FB2" type="button" class="btn btn-outline-success" style="border: 1px solid #5cb85c;">@ quotaVisitingFirstBlood </a>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</tab>
							</tabset>


						</div>
					</div>
				</div>
				<!--/.col-->
				<div class="col-md-4">
					<div class="panel panel-blue">
						<div class="panel-heading dark-overlay">
							<span class="glyphicon glyphicon-tasks">
							
							</span> APUESTA
						</div>
						<div class="panel-body">
							<ul class="todo-list">
								<li id="apuesta id " class="todo-list-item">
									<div class="checkbox">

										<label for="checkbox">
											<p style="color: black;">
												<i>Ganador del partido //
													 match.homeTeam - match.visitingTeam  </i>
											</p>
											<p style="color: black;">
												24/11 19:00 <strong> #selectedNamequota  </strong>
											</p>
										</label>
									</div>
									<div class="pull-right action-buttons">
										<a class="trash" href="/user-EsportsBet/removeBetMatch/ id ">
											<span class="glyphicon glyphicon-trash" style="margin-top: 7px; color : red;">
											</span>
										</a>
									</div>
								</li>
							</ul>
						</div>
						<div class="panel-footer" style="background: rgba(255, 255, 255, 0.71)">
							<form id="betTicket" action="/user-EsportsBet/sendBet" method="post" class="form-horizontal">
								<fieldset>
									<div class="form-group">
										<div class="col-md-4" style="color: black; padding-top: 5px;">
											<b>Importe</b>
										</div>
										<div class="col-md-4" style="color: white;"></div>
										<div class="col-md-4" style="color: black;">
											<select id="amountChangeBis" class="form-control" style="border: 1px solid #2d9df3;">
											<option value=1 ><b>1€</b></option>
											<option value=5 ><b>5€</b></option>
											<option value=10><b>10€</b></option>
											<option value=25><b>25€</b></option>
											<option value=50><b>50€</b></option>
										</select>
										</div>
									</div>

									<div class="form-group">
										<div class="col-md-8" style="color: black;">
											<b>Ganancias posibles:</b>
										</div>
										<div id="changeable" class="col-md-4" style="color: black; margin-top: 5%;">
											<b>0.00 €</b>
										</div>
									</div>

									<div class="form-group">
										<div class="col-md-12">
											<button type="submit" class="btn btn-default btn-md pull-right">Enviar</button>
										</div>
									</div>

									<div class="form-group">
										<div class="col-md-12 widget-right">
											<p style="float: left; font-size: 2ch">

												Recuerde que al enviar la apuesta está aceptando las
												<a href="ffb/user-policy">políticas internas</a> de &#64; ffbet.com
												<img src="../assets/images/+18.png" height="16px"> 2017

											</p>
										</div>
									</div>
								</fieldset>
							</form>
						</div>
					</div>
					<!--/.col-->
				</div>
				<!--/.row-->
			</div>
		</div>
	</div>
</div>

<ffbcomp-user-footer></ffbcomp-user-footer>