<ffbcomp-user-menu-header></ffbcomp-user-menu-header>

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li>
                <a routerLink="/user/home"> <span class="glyphicon glyphicon-home"> </span> </a>
            </li>
        </ol>
    </div>
    <!--Esto ya no es común a todas las páginas-->
    <!--Publicidad y etcs-->
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <h1 class="page-header"></h1>
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- NGX-CAROUSEL -->
                <carousel class="carousel-inner" role="listbox">
                    <slide>
                        <img class="slide" src="../assets/images/SlideHOmeFutbol.png" alt="First slide">
                        <div class="container">
                            <div class="carousel-caption">
                                <h1></h1>
                                <p class="publicidadCarousel"></p>
                                <p></p>
                            </div>
                        </div>
                    </slide>
                    <slide>
                        <img class="slide" src="../assets/images/SlideHOmeLol.png" alt="Second slide">
                        <div class="container">
                            <div class="carousel-caption">
                                <a routerLink="/user/sportsbet" class="btn btn-lg btn-primary" style="color: white;" role="button">¡Apuesta ya!</a>
                            </div>
                        </div>
                    </slide>
                    <slide>
                        <img class="slide" src="../assets/images/SlideRegistrate.png" alt="Third slide">
                        <div class="container">
                            <div class="carousel-caption">
                                <h1 class="publicidadCarousel">¡REGISTRATE YA!</h1>
                                <p class="publicidadCarousel"> Y consigue un increible bono de bienvenida de <code>100€</code> </p>
                                <p> <a routerLink="/user/signup" class="btn btn-lg btn-primary" style="color: white;" role="button">REGISTRATE
											HOY</a> </p>
                            </div>
                        </div>
                    </slide>
                </carousel>
                <!-- ./NGX-CAROUSEL -->
            </div>
        </div>
    </div>
    <!--/.row-->
    <div class="row">
        <div class="tt1" style="background-color: #004300; margin-left: 3%; width: 96%;"> Últimos encuentros</div>
        <div class="col-md-12" style="padding-left: 10px; margin-top: 0px;">
            <div class="panel panel-default" style="margin-left: 25px; margin-right: 0px;">
                <div class="panel-body tabs">
                    <tabset #staticTabs>
                        <tab>
                            <ng-template tabHeading>
                                <img class="glyph stroked home" src="../assets/images/football.svg" style="width: 16px; height: 16px;">                                FUTBOL
                            </ng-template>
                            <table class="table table-striped">
                                <thead>
                                    <tr class="tab-logo-liga">
                                        <th colspan="3"><img class="glyph stroked home" src="../assets/images/ligasantander.png" style="width: 200px; height: 40px;"></th>
                                        <th style="text-align: left;">
                                            <div class="col-xs-6 col-md-4 text-center">Resultado</div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="bodyAppend-football">
                                    <tr *ngFor="let footballMatch of footballMatches" class="tab-horario-partido">
                                        <td class="tab-index-partido"> {{footballMatch.id}} </td>
                                        <td class="tab-date-partido"> {{footballMatch.date}} </td>
                                        <td class="tab-equipos-partido"> {{footballMatch.homeTeam}} - {{footballMatch.visitingTeam}} </td>
                                        <td class="tab-resultado-partido" style="padding-left: 40px;"> {{footballMatch.homePoints}} - {{footballMatch.visitingPoints}} </td>
                                    </tr>
                                </tbody>
                            </table>

                        </tab>
                        <tab>
                            <ng-template tabHeading>
                                <img class="glyph stroked home" src="../assets/images/basket.svg" style="width: 16px; height: 16px;">                                BASKET
                            </ng-template>
                            <table class="table table-striped">
                                <thead>
                                    <tr class="tab-logo-liga">
                                        <th colspan="3"><img class="glyph stroked home" src="../assets/images/nbalogo.png" style="width: 100px; height: 43px;"></th>
                                        <th style="text-align: left;">
                                            <div class="col-xs-6 col-md-4 text-center">Resultado</div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="bodyAppend-basket">
                                    <tr *ngFor="let basketballMatch of basketballMatches" class="tab-horario-partido">
                                        <td scope="row">{{basketballMatch.id}}</td>
                                        <td scope="row">{{basketballMatch.date}}</td>
                                        <td class="tab-equipos-partido"> {{basketballMatch.homeTeam}} - {{basketballMatch.visitingTeam}} </td>
                                        <td class="tab-resultado-partido" style="padding-left: 40px;"> {{basketballMatch.homePoints}} - {{basketballMatch.visitingPoints}} </td>
                                    </tr>
                                </tbody>
                            </table>

                        </tab>
                        <tab>
                            <ng-template tabHeading>
                                <span class="glyph stroked 	glyphicon glyphicon-star" style="color: black"> </span> LOL
                            </ng-template>
                            <table class="table table-striped">
                                <thead>
                                    <tr class="tab-logo-liga">
                                        <th colspan="3"><img class="glyph stroked home" src="../assets/images/lol_logo.png" style="width: 150px; height: 60px;"></th>
                                        <th>
                                            <div class="col-xs-6 col-md-3 text-center" style="width: 200px">Equipo Ganador</div>
                                        </th>
                                        <th>
                                            <div class="col-xs-6 col-md-3 text-center" style="width: 200px">Primera sangre</div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="bodyAppend-lol">
                                    <tr *ngFor="let lolMatch of lolMatches" class="tab-horario-partido">
                                        <td scope="row"> {{lolMatch.id}} </td>
                                        <td scope="row"> {{lolMatch.date}} </td>
                                        <td class="tab-equipos-partido"> {{lolMatch.homeTeam}} - {{lolMatch.visitingTeam}} </td>
                                        <td class="tab-resultado-partido" style="padding-left: 80px;"> {{lolMatch.winnerTeam}} </td>
                                        <td class="tab-resultado-partido" style="padding-left: 80px;"> {{lolMatch.firstBloodTeam}} </td>
                                    </tr>
                                </tbody>
                            </table>

                        </tab>
                        <tab>
                            <ng-template tabHeading>
                                <span class="glyph stroked 	glyphicon glyphicon-star" style="color: black"> </span> CS:GO
                            </ng-template>
                            <table class="table table-striped">
                                <thead>
                                    <tr class="tab-logo-liga">
                                        <th colspan="3"><img class="glyph stroked home" src="../assets/images/CSGO.png" style="width: 100px; height: 30px;"></th>
                                        <th>
                                            <div class="col-xs-6 col-md-3 text-center" style="width: 200px">Equipo Ganador</div>
                                        </th>
                                        <th>
                                            <div class="col-xs-6 col-md-3 text-center" style="width: 200px">Primera sangre</div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="bodyAppend-csgo">
                                    <tr *ngFor="let csMatch of csMatches" class="tab-horario-partido">
                                        <td scope="row"> {{csMatch.id}} </td>
                                        <td scope="row"> {{csMatch.date}} </td>
                                        <td class="tab-equipos-partido"> {{csMatch.homeTeam}} - {{csMatch.visitingTeam}} </td>
                                        <td class="tab-resultado-partido" style="padding-left: 80px;"> {{csMatch.winnerTeam}}</td>
                                        <td class="tab-resultado-partido" style="padding-left: 80px;"> {{csMatch.firstBloodTeam}}</td>
                                    </tr>
                                </tbody>
                            </table>

                        </tab>

                    </tabset>
                </div>
            </div>
        </div>
        <!--
        <div class="col-md-4">
            <div class="card">
                <img class="../assets/images-responsive" src="../assets/images/equipos.jpg" style="width: 326px">
                <div class="card-action" style="background-color: burlywood">
                    <div style="font-family: fantasy;">
                        <p style="display: inline; margin-left: 20px; margin-right: 10px;">
                            <a routerLink="/user/sportsbet" style="font-size: xx-large">DEPORTES</a>
                        </p>
                        <p style="display: inline; margin-left: 20px;">
                            <a routerLink="/user/egamesbet" style="font-size: xx-large">JUEGOS</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        -->
        <!--/.col-->
    </div>
    <!--/.row-->
</div>

<ffbcomp-user-footer></ffbcomp-user-footer>