<ffbcomp-user-menu-header></ffbcomp-user-menu-header>


<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li>
                <a routerLink="/user/home"> <span class="glyphicon glyphicon-home">  </span>
                </a>
            </li>
            <li class="active">{{title}}</li>
        </ol>
    </div>
    <!--/.row-->
    <div class="row">
        <div class="col-sm-10 col-md-8 col-sm-offset-2 col-lg-8 col-lg-offset-2">
            <tabset type="pills" [justified]="true">
                <tab heading="Privacidad">
                    <div class="tab-pane" id="portlet_tab1">
                        <h4>Seguridad y fiabilidad para nuestros usuarios</h4>
                        <p class="privacy-text">Comprendemos la importancia de la seguridad de la información y las técnicas necesarias para proteger
                            dichos datos. Almacenamos todos los datos personales que recibimos directamente de usted en una
                            base de datos protegida mediante una contraseña y ubicada en nuestra red de seguridad protegida
                            por un sofisticado software de firewall activo. Nuestros Servicios son compatibles con SSL versión
                            3 con la encriptación de 128-bits. Tomamos asimismo las medidas necesarias para proteger a nuestras
                            filiales, agentes, afiliados y proveedores, y empleamos niveles de seguridad adecuados.</p>
                    </div>
                </tab>
                <tab heading="Uso de la información">

                    <div class="tab-pane" id="portlet_tab2">
                        <h4>Aviso de uso de información personal</h4>
                        <p class="privacy-text">Utilizamos los datos personales que usted nos facilita para ofrecer nuestros Servicios, prestar apoyo
                            a los clientes, realizar las comprobaciones de seguridad e identificación necesarias, procesar
                            las transacciones online, ayudarle a participar en promociones de terceros, cumplir con los requisitos
                            de la empresa y cualquier otro propósito relacionado con la gestión de los Servicios. Asimismo
                            sus datos personales podrán ser utilizados para proporcionarle ofertas promocionales e información
                            sobre nuestros productos y servicios así como para ofrecerle una serie de productos y servicios
                            y mejorar el servicio al cliente. Usted acepta que nosotros notifiquemos a otros usuarios de
                            nuestra página que tengan una cuenta en ella y que tengan almacenada su dirección de e-mail en
                            su libreta de contactos que dicha dirección de e-mail ya ha sido registrada en una cuenta. Ocasionalmente,
                            podríamos solicitarle información por medio de encuestas o concursos. La participación en estas
                            encuestas o concursos es totalmente voluntaria y, por lo tanto, usted dispone de la opción de
                            facilitar o no dicha información. La información solicitada puede referirse a datos de contacto
                            (tales como nombre y apellidos, la dirección de correspondencia y número de teléfono), así como
                            a datos demográficos (código postal o la edad). Al aceptar cualquier ganancia o premio en un
                            concurso, usted acepta que se utilice su nombre y demás datos con fines publicitarios y promocionales
                            sin percibir por ello ninguna otra compensación adicional, salvo que existiera alguna prohibición
                            legal. A menos que usted haya optado por no recibir información promocional, también podremos
                            utilizar sus datos personales (incluidos su dirección de e-mail y teléfono) para ofrecerle información
                            sobre nuestros productos, servicios y promociones, así como otros productos de juego (incluidos
                            los servicios de poker online, casino apuestas, blackjack y bingo) y asimismo productos y servicios
                            de terceros cuidadosamente seleccionados por nosotros.</p>
                    </div>
                </tab>
                <tab heading="Seguridad">
                    <div class="tab-pane active" id="portlet_tab3">
                        <h4>Privacidad y protección de datos</h4>
                        <p class="privacy-text">Estamos comprometidos con la protección de su datos personales. Hemos creado esta Política de Privacidad
                            para comunicarle qué información almacenamos cuando usted usa nuestros Servicios, por qué almacenamos
                            esta información y cómo la usamos. Recuerde que esta Política de Privacidad se suscribe entre
                            usted y ElectraWorks (España) Plc (en adelante Nosotros', o 'Nuestro/a', según corresponda).
                            Periódicamente podemos introducir modificaciones a esta Política de Privacidad, cambios que le
                            serán notificados mediante la actualización de los términos modificados en nuestras Plataformas.
                            Le recomendamos que visite esta Política de Privacidad regularmente.</p>
                    </div>
                </tab>
            </tabset>
        </div>

    </div>
</div>

<ffbcomp-user-footer></ffbcomp-user-footer>