<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8" />
<base href="/">
<meta name="viewport"
	content="width=device-width; initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0; user-scalable=no; target-densityDpi=device-dpi" />
<title>FFBet - ADMIN</title>
<link rel="icon" type="image/png" href="admin/img/faviconFFBpng.png" />
<link rel="stylesheet" href="admin/css/bootstrap.min.css" />
<link rel="stylesheet" href="admin/css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="admin/css/colorpicker.css" />
<link rel="stylesheet" href="admin/css/datepicker.css" />
<link rel="stylesheet" href="admin/css/uniform.css" />
<link rel="stylesheet" href="admin/css/select2.css" />
<link rel="stylesheet" href="admin/css/matrix-style.css" />
<link rel="stylesheet" href="admin/css/matrix-media.css" />
<link rel="stylesheet" href="admin/css/bootstrap-wysihtml5.css" />
<link href="admin/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link
	href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800'
	rel='stylesheet' type='text/css'>

</head>

<body>
	<!--Header-part-->
	<div id="header">
		<h1></h1>
	</div>
	<!--close-Header-part-->
	<!--top-Header-menu-->
	<div id="user-nav" class="navbar navbar-inverse">
		<ul class="nav">
			<li class=""><a title="" href="#"><i class="icon icon-user"></i>
					<span class="text">Bienvenido <em>{{UsuarioActivo}}</em></span><b
					class="caret"></b></a></li>
			<li class=""><a title="" href="/logOut"><i
					class="icon icon-cog"></i> <span id="reloj" class="text">Hora
						Local</span></a></li>
			<li class=""><form action="/logOut" method="post">
					<input type="submit" value="Sign Out"
						class="btn btn-danger btn-block" /> <input type="hidden"
						name="_csrf" value="{{token}}" />
				</form></li>

		</ul>
	</div>
	<!--close-top-Header-menu-->
	<div id="sidebar">
		<a href="#" class="visible-phone"><i class="icon icon-home"></i>
			Dashboard</a>
		<ul>
			<li><a href="admin"><i class="icon icon-home"></i> <span>Home</span></a>
			</li>
			<li class="active"><a href="admin-teams"><i
					class="icon icon-signal"></i> <span>Equipos</span></a></li>
			<li><a href="admin-matches"><i class="icon icon-inbox"></i>
					<span>Partidos</span></a></li>
			<li><a href="admin-results"><i class="icon icon-th"></i> <span>Resultados</span></a></li>
			<li><a href="admin-promos"><i class="icon icon-th-list"></i>
					<span>Promociones</span> </a></li>
		</ul>
	</div>
	<!--sidebar-menu-->
	<!--close-left-menu-stats-sidebar-->
	<div id="content">
		<div id="content-header">
			<div id="breadcrumb">
				<a href="index.html" title="Go to Home" class="tip-bottom"><i
					class="icon-home"></i> Home</a> <a href="#" class="current">Gestión
					de equipos</a>
			</div>
			<h1>Gestión de Equipos</h1>
		</div>
		<div class="container-fluid">
			<hr>
			<div class="row-fluid">
				<div class="span12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h5>Tabla de equipos deportivos</h5>
						</div>
						<div class="panel-body">
							<table data-toggle="table" data-show-refresh="true"
								data-show-toggle="true" data-show-columns="true"
								data-search="true" data-select-item-name="toolbar1"
								data-pagination="true" data-sort-name="name"
								data-sort-order="desc">
								<thead>
									<tr>
										<th data-field="id" data-sortable="true">ID</th>
										<th data-field="type" data-sortable="true">Tipo</th>
										<th data-field="name" data-sortable="true">Name</th>
										<th data-field="coach" data-sortable="true">Entrenador</th>
										<th data-field="country" data-sortable="true">País</th>
										<th data-field="city" data-sortable="true">Ciudad</th>
										<th data-field="slogan" data-sortable="true">Eslogan</th>
										<th data-field="stadium" data-sortable="true">Estadio</th>
										<th data-field="president" data-sortable="true">Presidente</th>
										<th data-field="leagues" data-sortable="true">Ligas</th>
										<th data-field="cups" data-sortable="true">Copas</th>
										<th data-field="champions" data-sortable="true">Champions</th>
										<th data-field="facebook_Uri" data-sortable="true">Facebook</th>
										<th data-field="twitter_Uri" data-sortable="true">Twitter</th>
										<th data-field="google_Uri" data-sortable="true">Google</th>

										<th data-field="Actions" data-sortable="true">Actions</th>
									</tr>
								</thead>
								{{#SportsTeams}}
								<tr>
									<td>{{id}}</td>
									<td>{{#type}}{{.}}{{/type}}</td>
									<td>{{name}}</td>
									<td>{{#coach}}{{.}}{{/coach}}</td>
									<td>{{#country}}{{.}}{{/country}}</td>
									<td>{{#city}}{{.}}{{/city}}</td>
									<td>{{#slogan}}{{.}}{{/slogan}}</td>
									<td>{{#stadium}}{{.}}{{/stadium}}</td>
									<td>{{#president}}{{.}}{{/president}}</td>
									<td>{{#leagues}}{{.}}{{/leagues}}</td>
									<td>{{#cups}}{{.}}{{/cups}}</td>
									<td>{{#champions}}{{.}}{{/champions}}</td>
									<td>{{#facebook_Uri}}{{.}}{{/facebook_Uri}}</td>
									<td>{{#twitter_Uri}}{{.}}{{/twitter_Uri}}</td>
									<td>{{#google_Uri}}{{.}}{{/google_Uri}}</td>

									<td><a href="/admin-teams/delete/{{id}}"
										class="btn btn-mini btn-danger"> <i class="icon-remove"></i>
											Borrar Partido
									</a></td>
								</tr>
								{{/SportsTeams}}
							</table>
						</div>
					</div>
				</div>
			</div>
			<hr>
			<div class="row-fluid">
				<div class="span12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h5>Tabla de equipos egames</h5>
						</div>
						<div class="panel-body">
							<table data-toggle="table" data-show-refresh="true"
								data-show-toggle="true" data-show-columns="true"
								data-search="true" data-select-item-name="toolbar1"
								data-pagination="true" data-sort-name="name"
								data-sort-order="desc">
								<thead>
									<tr>
										<th data-field="id" data-sortable="true">ID</th>
										<th data-field="type" data-sortable="true">Tipo</th>
										<th data-field="name" data-sortable="true">Name</th>
										<th data-field="coach" data-sortable="true">Entrenador</th>
										<th data-field="country" data-sortable="true">País</th>
										<th data-field="city" data-sortable="true">Ciudad</th>
										<th data-field="sponsor" data-sortable="true">Sponsor</th>

										<th data-field="Actions" data-sortable="true">Actions</th>
									</tr>
								</thead>
								{{#EgamesTeams}}
								<tr>
									<td>{{id}}</td>
									<td>{{#type}}{{.}}{{/type}}</td>
									<td>{{name}}</td>
									<td>{{#coach}}{{.}}{{/coach}}</td>
									<td>{{#country}}{{.}}{{/country}}</td>
									<td>{{#city}}{{.}}{{/city}}</td>
									<td>{{#sponsor}}{{.}}{{/sponsor}}</td>

									<td><a href="/admin-teams/delete/{{id}}"
										class="btn btn-mini btn-danger"> <i class="icon-remove"></i>
											Borrar Partido
									</a></td>
								</tr>
								{{/EgamesTeams}}
							</table>
						</div>
					</div>
				</div>
			</div>
			<hr>
			<div class="row-fluid">
				<div class="span6">
					<div class="widget-box">
						<div class="widget-title">
							<a href="#collapseOneDep" data-toggle="collapse"> <span
								class="icon"><i class="icon-plus"></i></span>
								<h5>Añadir Nuevo Equipo Deportivo</h5>
							</a>
						</div>
						<div class="collapse" id="collapseOneDep">
							<form action="admin-teams/newSportsTeam" method="post"
								class="form-horizontal">
								<div class="control-group">
									<label class="control-label">Tipo de deporte :</label>
									<div class="controls">
										<select name="sportsType">
											<option value="Fútbol">Fútbol</option>
											<option value="Baloncesto">Baloncesto</option>
										</select>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Nombre :</label>
									<div class="controls">
										<input type="text" class="span11"
											placeholder="Nombre del equipo" name="sportsName" />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">País :</label>
									<div class="controls">
										<input type="text" class="span11"
											placeholder="País del equipo" name="sportsCountry" />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Ciudad :</label>
									<div class="controls">
										<input type="text" class="span11"
											placeholder="Ciudad del equipo" name="sportsCity" />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Estadio :</label>
									<div class="controls">
										<input type="text" class="span11"
											placeholder="Nombre del campo de fútbol" name="stadium" />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Eslogan :</label>
									<div class="controls">
										<input type="text" class="span11" placeholder="Eslogan"
											name="slogan" /> <span class="help-block">Frase
											típica de la afición de este equipo</span>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Presidente :</label>
									<div class="controls">
										<input type="text" class="span11"
											placeholder="Nombre del presidente" name="president" />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Entrenador :</label>
									<div class="controls">
										<input type="text" class="span11"
											placeholder="Nombre del entrenador" name="sportsCoach" />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Ligas :</label>
									<div class="controls">
										<input type="number" class="span11"
											placeholder="Número de ligas ganadas" name="leaguesWeb" />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Copas :</label>
									<div class="controls">
										<input type="number" class="span11"
											placeholder="Número de copas ganadas" name="cupsWeb" />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Champions :</label>
									<div class="controls">
										<input type="number" class="span11"
											placeholder="Número de champions ganadas" name="championsWeb" />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Facebook :</label>
									<div class="controls">
										<input type="url" class="span11"
											placeholder="URL de su página de Facebook"
											name="facebook_Uri" />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Twitter :</label>
									<div class="controls">
										<input type="url" class="span11"
											placeholder="URL de su página de Twitter" name="twitter_Uri" />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Google :</label>
									<div class="controls">
										<input type="url" class="span11"
											placeholder="URL de su página de Google+" name="google_Uri" />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Imagen Escudo :</label>
									<div class="controls">
										<input type="file" name="stadiumImage" />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Imagen Estadio :</label>
									<div class="controls">
										<input type="file" name="logoImage" />
									</div>
								</div>
								{{#noBadNewSport}}
								<p style="color: red; margin-left:20%">Debe completar todos los campos</p>
								{{/noBadNewSport}}
								<div class="form-actions">
									<input type="hidden" name="_csrf" value="{{token}}" /> <input
										type="submit" class="btn btn-success" value="Añadir" />
								</div>
							</form>
						</div>
					</div>
					<div class="widget-box">
						<div class="widget-title">
							<a href="#collapseTwoDep" data-toggle="collapse"> <span
								class="icon"><i class="icon-plus"></i></span>
								<h5>Editar Equipo Deportivo</h5>
							</a>
						</div>
						<div class="collapse in" id="collapseTwoDep">
							<form action="admin-teams/updateSports/{{id}}" method="post" class="form-horizontal">
								<div class="control-group">
									<label class="control-label">Tipo de deporte :</label>
									<div class="controls">
										<input type="text" class="span11"
											placeholder="Nombre del equipo" name="upSportsType" />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Equipo a editar</label>
									<div class="controls">
										<select>
											<option>Equipo 1</option>
											<option>Equipo 2</option>
											<option>Equipo 3</option>
										</select>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Nombre :</label>
									<div class="controls">
										<input type="text" class="span11"
											placeholder="Nombre del equipo" />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Ciudad :</label>
									<div class="controls">
										<input type="text" class="span11"
											placeholder="Ciudad del equipo" />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Fundación :</label>
									<div class="controls">
										<input type="text" id="fechaModDep" class="mask-date"
											placeholder="Fecha de fundación"> <span
											class="help-block blue span8">99/99/9999</span>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Estadio :</label>
									<div class="controls">
										<input type="text" class="span11"
											placeholder="Nombre del campo de fútbol" />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Eslogan :</label>
									<div class="controls">
										<input type="text" class="span11" placeholder="Eslogan" /> <span
											class="help-block">Frasé típica de la afición de este
											equipo</span>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Presidente :</label>
									<div class="controls">
										<input type="text" class="span11"
											placeholder="Nombre del presidente" />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Entrenador :</label>
									<div class="controls">
										<input type="text" class="span11"
											placeholder="Nombre del entrenador" />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Ligas :</label>
									<div class="controls">
										<input type="text" class="span11"
											placeholder="Número de ligas ganadas" />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Copas :</label>
									<div class="controls">
										<input type="text" class="span11"
											placeholder="Número de copas ganadas" />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Champions :</label>
									<div class="controls">
										<input type="text" class="span11"
											placeholder="Número de champions ganadas" />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Facebook :</label>
									<div class="controls">
										<input type="text" class="span11"
											placeholder="URL de su página de Facebook" />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Google :</label>
									<div class="controls">
										<input type="text" class="span11"
											placeholder="URL de su página de Google+" />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Twitter :</label>
									<div class="controls">
										<input type="text" class="span11"
											placeholder="URL de su página de Twitter" />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Web :</label>
									<div class="controls">
										<input type="text" class="span11"
											placeholder="URL de su página web oficial" />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Imagen Escudo :</label>
									<div class="controls">
										<input type="file" />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Imagen Estadio :</label>
									<div class="controls">
										<input type="file" />
									</div>
								</div>
								<div class="form-actions">
									<button type="submit" class="btn btn-info">Editar</button>
									<button type="submit" class="btn btn-danger">Eliminar</button>
									<button type="submit" class="btn btn-warning">Cancelar</button>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="span6">
					<div class="widget-box">
						<div class="widget-title">
							<a href="#collapseOneEG" data-toggle="collapse"> <span
								class="icon"><i class="icon-plus"></i></span>
								<h5>Añadir Nuevo Equipo E-Games</h5>
							</a>
						</div>
						<div class="collapse" id="collapseOneEG">
							<form action="admin-teams/newEgamesTeam" method="post" class="form-horizontal">
								<div class="control-group">
									<label class="control-label">Tipo de juego :</label>
									<div class="controls">
										<select name="egamesType">
											<option value="LOL">League of legends</option>
											<option value="CS-GO">Counter Strike GO</option>
										</select>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Nombre :</label>
									<div class="controls">
										<input type="text" class="span11"
											placeholder="Nombre del equipo" name="egamesName" />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">País :</label>
									<div class="controls">
										<input type="text" class="span11"
											placeholder="País del equipo" name="egamesCountry" />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Ciudad :</label>
									<div class="controls">
										<input type="text" class="span11"
											placeholder="Ciudad del equipo" name="egamesCity" />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Entrenador :</label>
									<div class="controls">
										<input type="text" class="span11"
											placeholder="Nombre del entrenador" name="egamesCoach" />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Sponsor :</label>
									<div class="controls">
										<input type="text" class="span11"
											placeholder="Nombre de la sede del equipo"
											name="sponsor" />
									</div>
								</div>
								{{#noBadNewEgames}}
								<p style="color: red; margin-left:20%">Debe completar todos los campos</p>
								{{/noBadNewEgames}}
								<div class="form-actions">
									<input type="hidden" name="_csrf" value="{{token}}" /> <input
										type="submit" class="btn btn-success" value="Añadir" />
								</div>
							</form>
						</div>
					</div>
					<div class="widget-box">
						<div class="widget-title">
							<a href="#collapseTwoEG" data-toggle="collapse"> <span
								class="icon"><i class="icon-plus"></i></span>
								<h5>Editar Equipo E-Games</h5>
							</a>
						</div>
						<div class="collapse in" id="collapseTwoEG">
							<form action="#" method="get" class="form-horizontal">
								<div class="control-group">
									<label class="control-label">Tipo de juego :</label>
									<div class="controls">
										<label> <input type="radio" name="radios"
											checked="checked" /> League of Legends
										</label> <label> <input type="radio" name="radios" /> Counter
											Strike
										</label>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Equipo a editar</label>
									<div class="controls">
										<select>
											<option>Equipo 1</option>
											<option>Equipo 2</option>
											<option>Equipo 3</option>
										</select>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Nombre :</label>
									<div class="controls">
										<input type="text" class="span11"
											placeholder="Nombre del equipo" />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Sede :</label>
									<div class="controls">
										<input type="text" class="span11"
											placeholder="Nombre de la sede del equipo" />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Fundación :</label>
									<div class="controls">
										<input type="text" id="fechaModGame" class="mask-date"
											placeholder="Fecha de fundación"> <span
											class="help-block blue span8">99/99/9999</span>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Sponsor :</label>
									<div class="controls">
										<input type="text" class="span11"
											placeholder="Nombre de la sede del equipo" />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Entrenador :</label>
									<div class="controls">
										<input type="text" class="span11"
											placeholder="Nombre del entrenador" />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Títulos :</label>
									<div class="controls">
										<textarea class="span11" placeholder="Títulos ganados..."></textarea>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Facebook :</label>
									<div class="controls">
										<input type="text" class="span11"
											placeholder="URL de su página de Facebook" />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Google :</label>
									<div class="controls">
										<input type="text" class="span11"
											placeholder="URL de su página de Google+" />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Twitter :</label>
									<div class="controls">
										<input type="text" class="span11"
											placeholder="URL de su página de Twitter" />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Web :</label>
									<div class="controls">
										<input type="text" class="span11"
											placeholder="URL de su página web oficial" />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Imagen Escudo :</label>
									<div class="controls">
										<input type="file" class="span11" />
									</div>
								</div>
								<div class="form-actions">
									<button type="submit" class="btn btn-info">Editar</button>
									<button type="submit" class="btn btn-danger">Eliminar</button>
									<button type="submit" class="btn btn-warning">Cancelar</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--Footer-part-->
	<div class="row-fluid">
		<div id="footer" class="span12" style="margin-left: 20%">
			2017 &copy; FFBet Admin. Developed by @AdrianPedriza, @JesusPrieto22,
			@MarcoCaballero, @Peloxoo <a
				href="https://github.com/MarcoCaballero/FFB_DAW">GITHUB
				repository</a>
		</div>
	</div>
	<!--end-Footer-part-->
	<script src="admin/js/jquery.min.js"></script>
	<script src="admin/js/jquery.ui.custom.js"></script>
	<script src="admin/js/bootstrap.min.js"></script>
	<script src="admin/js/bootstrap-colorpicker.js"></script>
	<script src="admin/js/bootstrap-datepicker.js"></script>
	<script src="admin/js/jquery.toggle.buttons.js"></script>
	<script src="admin/js/masked.js"></script>
	<script src="admin/js/jquery.uniform.js"></script>
	<script src="admin/js/select2.min.js"></script>
	<script src="admin/js/matrix.js"></script>
	<script src="admin/js/matrix.form_common.js"></script>
	<script src="admin/js/wysihtml5-0.3.0.js"></script>
	<script src="admin/js/jquery.peity.min.js"></script>
	<script src="admin/js/bootstrap-wysihtml5.js"></script>
	<script>
		$('.textarea_editor').wysihtml5();
	</script>
	<script type="text/javascript">
		function startTime() {
			today = new Date();
			h = today.getHours();
			m = today.getMinutes();
			s = today.getSeconds();
			m = checkTime(m);
			s = checkTime(s);
			document.getElementById('reloj').innerHTML = h + ":" + m + ":" + s;
			t = setTimeout('startTime()', 500);
		}

		function checkTime(i) {
			if (i < 10) {
				i = "0" + i;
			}
			return i;
		}
		window.onload = function() {
			startTime();
		}
	</script>
</body>

</html>