<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8" />
<meta name="viewport"
	content="width=device-width; initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0; user-scalable=no; target-densityDpi=device-dpi" />
<title>FFBet - ADMIN</title>
<link rel="icon" type="image/png" href="/admin/img/faviconFFBpng.png" />
<link rel="stylesheet" href="/admin/css/bootstrap.min.css" />
<link rel="stylesheet" href="/admin/css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="/admin/css/fullcalendar.css" />
<link rel="stylesheet" href="/admin/css/matrix-style.css" />
<link rel="stylesheet" href="/admin/css/matrix-media.css" />
<link href="/admin/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link rel="stylesheet" href="/admin/css/jquery.gritter.css" />
<link
	href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800'
	rel='stylesheet' type='text/css'>



<link href="/user/css/datepicker3.css" rel="stylesheet">
<link href="/user/css/bootstrap-table.css" rel="stylesheet">

<!--Icons-->
<script src="/user/js/lumino.glyphs.js"></script>
</head>

<body>
	<!--Header-part-->
	<div id="header">
		<h1></h1>

	</div>
	<!--close-Header-part-->
	<!--top-Header-menu-->
	<div id="user-nav" class="navbar navbar-inverse">
		<ul class="nav">
			<li class=""><a title="" href="#"><i class="icon icon-user"></i>
					<span class="text">Bienvenido <em>{{UsuarioActivo}}</em></span><b
					class="caret"></b></a></li>
			<li class=""><a title="" href="/logOut"><i
					class="icon icon-cog"></i> <span id="reloj" class="text">Hora
						Local</span></a></li>
			<li class=""><form action="/logOut" method="post">
					<input type="submit" value="Sign Out"
						class="btn btn-danger btn-block" /> <input type="hidden"
						name="_csrf" value="{{token}}" />
				</form></li>

		</ul>
	</div>
	<!--close-top-Header-menu-->
	<div id="sidebar">
		<a href="#" class="visible-phone"><i class="icon icon-list"></i>
			MENU</a>
		<ul>
			<li class="active"><a href="/admin"><i
					class="icon icon-home"></i> <span>Home</span></a></li>
			<li><a href="/admin-teams"><i class="icon icon-signal"></i>
					<span>Equipos</span></a></li>
			<li><a href="/admin-matches"><i class="icon icon-inbox"></i>
					<span>Partidos</span></a></li>
			<li><a href="/admin-results"><i class="icon icon-th"></i> <span>Resultados</span></a></li>
			<li><a href="/admin-promos"><i class="icon icon-th-list"></i>
					<span>Promociones</span> </a></li>
		</ul>
	</div>
	<!--sidebar-menu-->
	<!--main-container-part-->
	<div id="content">
		<!--breadcrumbs-->
		<div id="content-header">
			<div id="breadcrumb">
				<a href="home" title="Go to Home" class="current"><i
					class="icon-home"></i> Home</a>
			</div>
		</div>
		<!--End-breadcrumbs-->
		<!--Action boxes-->
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span12">
					<h1 class="titulo_central">BIENVENIDO AL PANEL DE CONTROL</h1>
				</div>
			</div>
			<div class="quick-actions_homepage">
				<ul class="quick-actions">
					<li class="bg_lb"><a href="/admin"> <i
							class="icon-dashboard"></i> Home
					</a></li>
					<li class="bg_lg span3"><a href="/admin-teams"> <i
							class="icon-signal"></i>Equipos
					</a></li>
					<li class="bg_ly"><a href="/admin-matches"> <i
							class="icon-inbox"></i> <!--<span class="label label-success">101</span>-->Partidos
					</a></li>
					<li class="bg_lo"><a href="/admin-results"> <i
							class="icon-th"></i>Resultados
					</a></li>
					<li class="bg_ls"><a href="/admin-promos"> <i
							class="icon-fullscreen"></i>Promociones
					</a></li>
				</ul>
			</div>
			<!--End-Action boxes-->


			<div class="row-fluid">
				<div class="span8" style="margin-top: 5%">
					<div class="panel panel-default">
						<div class="panel-heading"></div>
						<div class="panel-body">
							<table data-toggle="table" data-show-refresh="true"
								data-show-toggle="true" data-show-columns="true"
								data-search="true" data-select-item-name="toolbar1"
								data-pagination="true" data-sort-name="name"
								data-sort-order="desc">
								<thead>
									<tr>
										<th data-field="Id" data-sortable="true">ID</th>
										<th data-field="Name" data-sortable="true">Nombre</th>
										<th data-field="Surname" data-sortable="true">Apellido</th>
										<th data-field="E-mail" data-sortable="true">E-mail</th>
										<th data-field="Role" data-sortable="true">Role</th>

										<th data-field="Actions" data-sortable="true">Action</th>
									</tr>
								</thead>
								{{#Users}}
								<tr>
									<td>{{id}}</td>
									<td>{{#name}}{{.}}{{/name}}</td>
									<td>{{#surname}}{{.}}{{/surname}}</td>
									<td>{{email}}</td>
									<td>{{#roles}}{{.}}{{/roles}}</td>
									<td>
										<a href="#" class="btn btn-mini btn-warning">
											<i class="icon-plus"></i> 
											Hacer Administrador
										</a> 
										<a href="/admin-home/delete/{{id}}" class="btn btn-mini btn-danger">
											<i class="icon-edit"></i>
											Borrar Usuario
											</a>
									</td>

								</tr>
								{{/Users}}
							</table>
						</div>
					</div>
				</div>

				<div class="span3" style="margin-top: 5%">
					<ul class="site-stats">
						<li class="bg_lh"><i class="icon-user"></i> <strong>{{totalUSer}}</strong>
							<small>Total Users</small></li>
						<li class="bg_lh"><i class="icon-plus"></i> <strong>{{totalTeams}}</strong>
							<small>Total teams</small></li>
						<li class="bg_lh"><i class="icon-shopping-cart"></i> <strong>{{totalBets}}</strong>
							<small>Total Bets</small></li>
						<li class="bg_lh"><i class="icon-tag"></i> <strong>{{totalMoney}}</strong>
							<small>Total Money</small></li>
						<li class="bg_lh"><i class="icon-repeat"></i> <strong>{{totalPromotions}}</strong>
							<small>Actually promotions</small></li>
						<li class="bg_lh"><i class="icon-globe"></i> <strong>{{totalMatches}}</strong>
							<small>Total matches</small></li>
					</ul>
				</div>

			</div>




		</div>
	</div>
	<!--end-main-container-part-->
	<!--Footer-part-->
	<div class="row-fluid">
		<div id="footer " class="span12 " style="margin-left: 20%">
			2017 &copy; FFBet Admin. Developed by @AdrianPedriza, @JesusPrieto22,
			@MarcoCaballero, @Peloxoo <a
				href="https://github.com/MarcoCaballero/FFB_DAW">GITHUB
				repository</a>
		</div>
	</div>
	<!--end-Footer-part-->
	<script src="/admin/js/excanvas.min.js"></script>
	<script src="/admin/js/jquery.min.js"></script>
	<script src="/admin/js/jquery.ui.custom.js"></script>
	<script src="/admin/js/bootstrap.min.js"></script>
	<script src="/admin/js/jquery.flot.min.js"></script>
	<script src="/admin/js/jquery.flot.resize.min.js"></script>
	<script src="/admin/js/jquery.peity.min.js"></script>
	<script src="/admin/js/fullcalendar.min.js"></script>
	<script src="/admin/js/matrix.js"></script>
	<script src="/admin/js/matrix.dashboard.js"></script>
	<script src="/admin/js/jquery.gritter.min.js"></script>
	<script src="/admin/js/matrix.interface.js"></script>
	<script src="/admin/js/matrix.chat.js"></script>
	<script src="/admin/js/jquery.validate.js"></script>
	<script src="/admin/js/matrix.form_validation.js"></script>
	<script src="/admin/js/jquery.wizard.js"></script>
	<script src="/admin/js/jquery.uniform.js"></script>
	<script src="/admin/js/select2.min.js"></script>
	<script src="/admin/js/matrix.popover.js"></script>
	<script src="/admin/js/jquery.dataTables.min.js"></script>
	<script src="/admin/js/matrix.tables.js"></script>

	<script src="/user/js/jquery-1.11.1.min.js"></script>
	<script src="/user/js/chart.min.js"></script>
	<script src="/user/js/chart-data.js"></script>
	<script src="/user/js/easypiechart.js"></script>
	<script src="/user/js/easypiechart-data.js"></script>
	<script src="/user/js/bootstrap-datepicker.js"></script>
	<script src="/user/js/bootstrap-table.js"></script>
	<script type="text/javascript">
		// This function is called from the pop-up menus to transfer to
		// a different page. Ignore if the value returned is a null string:
		function goPage(newURL) {
			// if url is empty, skip the menu dividers and reset the menu selection to default
			if (newURL != "") {
				// if url is "-", it is this page -- reset the menu:
				if (newURL == "-") {
					resetMenu();
				}
				// else, send page to designated URL            
				else {
					document.location.href = newURL;
				}
			}
		}
		// resets the menu selection upon entry to this page:
		function resetMenu() {
			document.gomenu.selector.selectedIndex = 2;
		}
	</script>
	<script type="text/javascript">
		function startTime() {
			today = new Date();
			h = today.getHours();
			m = today.getMinutes();
			s = today.getSeconds();
			m = checkTime(m);
			s = checkTime(s);
			document.getElementById('reloj').innerHTML = h + ":" + m + ":" + s;
			t = setTimeout('startTime()', 500);
		}

		function checkTime(i) {
			if (i < 10) {
				i = "0" + i;
			}
			return i;
		}
		window.onload = function() {
			startTime();
		}
	</script>
</body>

</html>