<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8" />
<base href="/">
<meta name="viewport"
	content="width=device-width; initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0; user-scalable=no; target-densityDpi=device-dpi" />
<title>FFBet - ADMIN</title>

<link rel="icon" type="image/png" href="admin/img/faviconFFBpng.png" />
<link rel="stylesheet" href="admin/css/bootstrap.min.css" />
<link rel="stylesheet" href="admin/css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="admin/css/matrix-style.css" />
<link rel="stylesheet" href="admin/css/matrix-media.css" />
<link rel="stylesheet" href="admin/css/uniform.css" />
<link rel="stylesheet" href="admin/css/select2.css" />
<link rel="stylesheet" href="admin/css/bootstrap-wysihtml5.css" />
<link href="admin/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link
	href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800'
	rel='stylesheet' type='text/css' />



<link href="user/css/datepicker3.css" rel="stylesheet">
<link href="user/css/bootstrap-table.css" rel="stylesheet">

<!--Icons-->
<script src="user/js/lumino.glyphs.js"></script>

</head>

<body>
	<!--Header-part-->
	<div id="header">
		<h1></h1>
	</div>
	<!--close-Header-part-->
	<!--top-Header-menu-->
	<div id="user-nav" class="navbar navbar-inverse">
		<ul class="nav">
			<li class=""><a title="" href="#"><i class="icon icon-user"></i>
					<span class="text">Bienvenido Usuario</span><b class="caret"></b></a></li>
			<li class=""><a title="" href="#"><i class="icon icon-cog"></i>
					<span id="reloj" class="text">Hora Local</span></a></li>
			<li class=""><a title="" href="#"><i
					class="icon icon-share-alt"></i> <span class="text">Logout</span></a></li>
		</ul>
	</div>
	<!--close-top-Header-menu-->
	<div id="sidebar">
		<a href="#" class="visible-phone"><i class="icon icon-home"></i> </a>
		<ul>
			<li><a href="admin"><i class="icon icon-home"></i> <span>Home</span></a>
			</li>
			<li><a href="admin-teams"><i class="icon icon-signal"></i> <span>Equipos</span></a></li>
			<li class="active"><a href="admin-matches"><i
					class="icon icon-inbox"></i> <span>Partidos</span></a></li>
			<li><a href="admin-results"><i class="icon icon-th"></i> <span>Resultados</span></a></li>
			<li><a href="admin-promotions"><i class="icon icon-th-list"></i>
					<span>Promociones</span> </a></li>
		</ul>
	</div>
	<!--sidebar-menu-->
	<!--main-container-part-->
	<div id="content">
		<div id="content-header">
			<div id="breadcrumb">
				<a href="#" title="Go to Home" class="tip-bottom"><i
					class="icon-home"></i> Home</a> <a href="#" class="current">Partidos</a>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span6">
					<div class="widget-box">
						<div class="widget-title">
							<span class="icon"> <i class="icon-align-justify"></i>
							</span>
							<h5>Editor de promociones</h5>
						</div>
						<div class="widget-content nopadding">
							<form action="admin-promotions/new" method="post"
								class="form-horizontal" enctype="multipart/form-data">
								<div class="control-group">
									<label class="control-label">Tipo de promoción:</label>
									<div class="controls">
										<select name="type">
											<option value="Bonos gratuitos">Bonos gratuitos</option>
											<option value="Promociones de fútbol">Promociones de
												fútbol</option>
										</select>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Título de la promoción:</label>
									<div class="controls">
										<input type="text" class="span11" placeholder="Título"
											name="promoTitle" />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Descripción de la
										promoción:</label>
									<div class="controls">
										<textarea class="span11" placeholder="Descripción"
											name="promoDescription"></textarea>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Código promocional:</label>
									<div class="controls">
										<input type="password" class="span11"
											placeholder="Introduzca el código de activación"
											name="promoCode" />
									</div>
								</div>
								{{#isPromo}} <label style="color: red">Deben completar
									todos los campos</label> {{/isPromo}}
								<div class="control-group">
									<label class="control-label">Imagen promocional:</label>
									<div class="controls">
										<input type="file" class="span11" name="promoImage" />
									</div>
								</div>
								{{#showsError}}<label>Hay un error con la imagen
									intantalo más tarde</label>{{/showsError}}
								<div class="form-actions">
									<input type="hidden" name="_csrf" value="{{token}}" /> <input
										type="submit" class="btn btn-success" value="Publicar" />
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="span6">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h5>Promociones existentes</h5>
						</div>
						<div class="panel-body">
							<table data-toggle="table" data-show-refresh="true"
								data-show-toggle="true" data-show-columns="true"
								data-search="true" data-select-item-name="toolbar1"
								data-pagination="true" data-sort-name="name"
								data-sort-order="desc">
								<thead>
									<tr>
										<th data-field="id" data-sortable="true">ID</th>
										<th data-field="type" data-sortable="true">Tipo</th>
										<th data-field="title" data-sortable="true">Título</th>
										<th data-field="description" data-sortable="true">Descripcion</th>
										<th data-field="promotionCode" data-sortable="true">Código</th>
										<th data-field="promotionImage" data-sortable="true">Foto
											promocion</th>
										<th data-field="delete" data-sortable="true">Eliminar
											promocion</th>
									</tr>
								</thead>
								{{#promotions}}
								<tr>
									<td>{{#id}}{{.}}{{/id}}</td>
									<td>{{#type}}{{.}}{{/type}}</td>
									<td>{{#title}}{{.}}{{/title}}</td>
									<td>{{#description}}{{.}}{{/description}}</td>
									<td>{{#promotionCode}}{{.}}{{/promotionCode}}</td>
									<td>{{#promotionImage}}<img src="images/promos/{{.}}"
										height="40px" width="50px" style="margin-left: 20%" />{{/promotionImage}}
									</td>
									<td>
										<form action="admin-promotions/delete/{{id}}" method="post">
											<div class="form-actions">
												<input type="hidden" name="_csrf" value="{{token}}" /> <input
													type="submit" class="btn btn-danger" value="Eliminar" />
											</div>
										</form>
									</td>

								</tr>
								{{/promotions}}
							</table>
						</div>
					</div>
				</div>
			</div>
			<hr>
		</div>
	</div>
	</div>
	</div>
	<!--end-main-container-part-->
	<!--Footer-part-->
	<div class="row-fluid">
		<div id="footer " class="span12 " style="margin-left: 20%">
			2017 &copy; FFBet Admin. Developed by @AdrianPedriza, @JesusPrieto22,
			@MarcoCaballero, @Peloxoo <a
				href="https://github.com/MarcoCaballero/FFB_DAW">GITHUB
				repository</a>
		</div>
	</div>
	<!--end-Footer-part-->


	<script src="admin/js/jquery.min.js"></script>
	<script src="admin/js/jquery.ui.custom.js"></script>
	<script src="admin/js/bootstrap.min.js"></script>
	<script src="admin/js/bootstrap-colorpicker.js"></script>
	<script src="admin/js/bootstrap-datepicker.js"></script>
	<script src="admin/js/jquery.toggle.buttons.js"></script>
	<script src="admin/js/masked.js"></script>
	<script src="admin/js/jquery.uniform.js"></script>
	<script src="admin/js/select2.min.js"></script>
	<script src="admin/js/matrix.js"></script>
	<script src="admin/js/matrix.form_common.js"></script>
	<script src="admin/js/wysihtml5-0.3.0.js"></script>
	<script src="admin/js/jquery.peity.min.js"></script>
	<script src="admin/js/bootstrap-wysihtml5.js"></script>


	<script src="user/js/jquery-1.11.1.min.js"></script>
	<script src="user/js/chart.min.js"></script>
	<script src="user/js/chart-data.js"></script>
	<script src="user/js/easypiechart.js"></script>
	<script src="user/js/easypiechart-data.js"></script>
	<script src="user/js/bootstrap-datepicker.js"></script>
	<script src="user/js/bootstrap-table.js"></script>




	<script type="text/javascript">
		function startTime() {
			today = new Date();
			h = today.getHours();
			m = today.getMinutes();
			s = today.getSeconds();
			m = checkTime(m);
			s = checkTime(s);
			document.getElementById('reloj').innerHTML = h + ":" + m + ":" + s;
			t = setTimeout('startTime()', 500);
		}

		function checkTime(i) {
			if (i < 10) {
				i = "0" + i;
			}
			return i;
		}
		window.onload = function() {
			startTime();
		}
	</script>
</body>

</html>