 <div id="footer" class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 footer">
        <div class="container-fluid">
            <!-- CAROUSEL PARTNERS ROW-->
            <div class="row">
                <div id="jssor_1">
                    <!-- Loading Screen -->
                    <div class="jssor_banner" data-u="loading">
                        <div class="jssor_banner2"></div>
                        <div class="jssor_banner3"></div>
                    </div>
                    <div class="jssor_slides" data-u="slides">
                        <div> <img data-u="image" src="../assets/images//slide_jsor_1.jpg" height="50px" /> </div>
                        <div class="jsorpadding"></div>
                        <div> <img data-u="image" src="../assets/images//slide_jsor_2.png" height="50px" /> </div>
                        <div class="jsorpadding"></div>
                        <div> <img data-u="image" src="../assets/images//slide_jsor_3.png" height="50px" /> </div>
                        <div class="jsorpadding"></div>
                        <div> <img data-u="image" src="../assets/images//juegoseguro.png" height="50px" /> </div>
                        <div class="jsorpadding"></div>
                        <div> <img data-u="image" src="../assets/images//slide_jsor_1.jpg" height="50px" /> </div>
                        <div class="jsorpadding"></div>
                        <div> <img data-u="image" src="../assets/images//slide_jsor_2.png" height="50px" /> </div>
                        <div class="jsorpadding"></div>
                        <div> <img data-u="image" src="../assets/images//slide_jsor_3.png" height="50px" /> </div>
                        <div class="jsorpadding"></div>
                        <div> <img data-u="image" src="../assets/images//juegoseguro.png" height="50px" /> </div>
                        <div class="jsorpadding"></div>
                        <div> <img data-u="image" src="../assets/images//slide_jsor_1.jpg" height="50px" /> </div>
                        <div class="jsorpadding"></div>
                        <div> <img data-u="image" src="../assets/images//slide_jsor_2.png" height="50px" /> </div>
                        <div class="jsorpadding"></div>
                        <div> <img data-u="image" src="../assets/images//slide_jsor_3.png" height="50px" /> </div>
                        <div class="jsorpadding"></div>
                        <div> <img data-u="image" src="../assets/images//juegoseguro.png" height="50px" /> </div>
                        <div class="jsorpadding"></div>
                    </div>
                </div>
                <script type="text/javascript">
                    jssor_1_slider_init();
                </script>
            </div>
            <!-- #endregion Jssor Slider End -->
            <ul class="nav menu">
                <li role="presentation" class="pp"></li>
            </ul>
            <div class="row"> <img src="../assets/images//barra_liga_santander.png" class="imagen_equipos"> </div>
            <ul class="nav menu">
                <li role="presentation" class="pp"></li>
            </ul>
            <div class="row">
                <ul class="menu_info">
                    <li><strong>TOP LINKS</strong></li>
                    <li><a href="user" class="enlaceFooter"> Home </a></li>
                    <li><a href="user-sportsBet" class="enlaceFooter">
							Apuestas Deportivas </a></li>
                    <li><a href="user-EsportsBet" class="enlaceFooter">
							Apuestas E-games </a></li>
                    <li><a href="user-promos" class="enlaceFooter"> Ofertas y
							Promociones </a></li>
                </ul>
                <ul class="menu_info">
                    <li><strong>INFO</strong></li>
                    <li><a href="ffbet/policy-terms" class="enlaceFooter"> Privacy
							policy </a></li>
                    <li><a href="http://politicadecookies.com/" class="enlaceFooter"> Cookie policy </a></li>
                    <li><a href="http://www.loteriasyapuestas.es/es/paginas-informativas/politica-de-uso-de-la-web-y-sitios-moviles-webs-juego-y-corporativa.info?nomobile=1#" class="enlaceFooter"> User policy </a></li>
                    <li><a href="http://www.madrid.org/cs/Satellite?cid=1142331785996&pagename=PortalJoven%2FPage%2FJUVE_contenidoFinalMenuIzquierdo" class="enlaceFooter"> Responsible Gaming </a></li>
                </ul>
            </div>
            <ul class="nav menu">
                <li role="presentation" class="pp"></li>
            </ul>
            <div class="row">
                <div class="copyright">
                    <a href="ffbet/policy-terms" target="_self"></a><img src="../assets/images//+18.png" height="25px"> <span>Copyright © 2017 FFbet.com
						(España)</span> </div>
            </div>
        </div>
    </div>