<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <base href="/">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0; user-scalable=no; target-densityDpi=device-dpi" />
    <title>FFBet - Entra y apuesta</title>
    <link rel="icon" type="image/png" href="user/img/faviconFFBpng.png" />
    <link href="user/css/bootstrap.min.css" rel="stylesheet">
    <link href="user/css/datepicker3.css" rel="stylesheet">
    <link href="user/css/styles.css" rel="stylesheet">
    <!--Icons-->
    <script src="user/js/lumino.glyphs.js"></script>
    <script src="user/js/jssor.slider-22.1.8.min.js" type="text/javascript"></script>
    <script>
        $("#myCarousel").carousel()({
            interval: 100
        });
    </script>
    <script type="text/javascript">
        jssor_1_slider_init = function () {
            var jssor_1_options = {
                $AutoPlay: true
                , $Idle: 0
                , $AutoPlaySteps: 4
                , $SlideDuration: 2500
                , $SlideEasing: $Jease$.$Linear
                , $PauseOnHover: 4
                , $SlideWidth: 140
                , $Cols: 7
            };
            var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);
            /*responsive code begin*/
            /*you can remove responsive code if you don't want the slider scales while window resizing*/
            function ScaleSlider() {
                var refSize = jssor_1_slider.$Elmt.parentNode.clientWidth;
                if (refSize) {
                    refSize = Math.min(refSize, 1200);
                    jssor_1_slider.$ScaleWidth(refSize);
                }
                else {
                    window.setTimeout(ScaleSlider, 30);
                }
            }
            ScaleSlider();
            $Jssor$.$AddEvent(window, "load", ScaleSlider);
            $Jssor$.$AddEvent(window, "resize", ScaleSlider);
            $Jssor$.$AddEvent(window, "orientationchange", ScaleSlider);
            /*responsive code end*/
        };
    </script>
    <!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                 {{#isUsermenuActive}}
                <ul class="user-menu">
                    <li class="dropdown pull-right" style="margin-top: -3%;">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <svg class="glyph stroked male-user"> {{#user.isPhotoSelected}} <img class="img-circle" alt="" src="static/files/avatars/{{user.photoUrl}}" height="25px"> {{/user.isPhotoSelected}} {{^user.isPhotoSelected}} {{#user.isMen}} <img class="img-circle" src="user/img/boyUser.svg" height="25px" /> {{/user.isMen}} {{^user.isMen}} <img class="img-circle" src="user/img/userGirl.svg" height="25px" /> {{/user.isMen}} {{/user.isPhotoSelected}} </svg> {{user.email}} <span class="caret"></span></a>
                        <ul class="dropdown-menu" style="border-radius: 10%;">
                            <li>
                                <div class="navbar-login">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <p class="text-center"> {{#user.isPhotoSelected}} <img class="img-circle" src="static/files/avatars/{{user.photoUrl}}" height="100px" /> {{/user.isPhotoSelected}} {{^user.isPhotoSelected}} {{#user.isMen}} <img class="img-circle" src="user/img/boyUser.svg" height="100px" /> {{/user.isMen}} {{^user.isMen}} <img class="img-circle" src="user/img/userGirl.svg" height="100px" /> {{/user.isMen}} {{/user.isPhotoSelected}} </p>
                                        </div>
                                        <div class="col-lg-8">
                                            <p class="text-left"> <strong>{{user.name}}</strong> </p>
                                            <p class="text-left small"> {{user.email}}
                                                <a style="color: black;" href="user-account">
                                                    <h6 style="color: black;">
														Tu saldo es:<em><i> {{user.credit}} €</i></em>
													</h6>
                                                    <h6 style="color: black;">
														Tu saldo Promocional* :<em><i>
																{{user.promotionCredit}} €</i></em>
													</h6> </a>
                                            </p>
                                            <p class="text-left"> <a href="user-account/addCredit" class="btn btn-primary btn-block btn-sm">Depositar</a> <a href="user-account" class="btn btn-primary btn-block btn-sm" style="background-color: #6469c6; border-color: #6469c6;">
													Mi cuenta </a> </p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <div class="navbar-login navbar-login-session">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <form action="/logOut" method="POST">
                                                <p>
                                                    <input type="submit" value="Cerrar Sesión" class="btn btn-danger btn-block" />
                                                    <input type="hidden" name="_csrf" value="{{token}}" /> </p>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown pull-right fixing">
                        <a href="user-account" class="dropdown-toggle">
                            <h6 style="color: white;">
								Tu saldo es:<em><i> {{user.credit}} €
										({{user.promotionCredit}} €)*</i></em>
							</h6> </a>
                    </li>
                </ul> {{/isUsermenuActive}}
                 {{^isUsermenuActive}}
                <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a href="#" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
                            <a class="navbar-brand" href="#"> </a>
                            <ul class="user-menu">
                                <li class="dropdown pull-right">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img class="img-circle" src="user/img/userBlocked.svg" style="height: 30px;" /> Acceder <span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li style="display: block;">
                                            <a href="login"> <img class="img-circle" src="user/img/userBlocked.svg" height="30px" /> Entrar </a>
                                        </li>
                                        <li style="display: block;">
                                            <a href="ffbet/policy-terms"> <img class="img-circle" src="user/img/policy.svg" height="30px" /> Política de privacidad </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.container-fluid -->
                </nav> {{/isUsermenuActive}} </div>
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
        <!--<form role="search">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Search">
			</div>
		</form>-->
        <section class="active"> <img class="logoBack" src="user/img/LogoFFBalpha.png" width="100%"> </section>
        <ul class="nav menu">
            <li class="active">
                <a href="user"> <img class="glyph stroked home" src="user/img/Home.svg" /> Home </a>
            </li>
            <li>
                <a href="user-sportsBet"> <img class="glyph stroked home" src="user/img/ball.svg" />Apuestas Deportivas </a>
            </li>
            <li>
                <a href="user-EsportsBet"> <img class="glyph stroked pencil" src="user/img/games_b.svg" /> Apuestas E-games </a>
            </li>
            <li>
                <a href="user-promos"> <img class="glyph stroked pencil" src="user/img/star.svg" /> Ofertas y Promociones </a>
            </li> {{#isUsermenuActive}}
            <li>
                <a href="user-account"> <img class="glyph stroked pencil" src="user/img/userlogo.svg" />Mi Cuenta </a>
            </li>
            <li role="presentation" class="divider"></li> {{/isUsermenuActive}} {{^isUsermenuActive}}
            <li role="presentation" class="divider"></li>
            <li>
                <a href="signup">
                    <svg class="glyph stroked male-user">
                        <use xlink:href="#stroked-male-user"></use>
                    </svg>Registrate </a>
            </li> {{/isUsermenuActive}} </ul>
    </div>
    <!--/.sidebar-->
    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
        <div class="row">
            <ol class="breadcrumb">
                <li>
                    <a href="user"> <span class="glyphicon glyphicon-home">
							HOME</span> </a>
                </li>
            </ol>
        </div>
        <!--/.row-->
        <!--Título-->
        <div class="row"></div>
        <!--/.row-->
        <!--Esto ya no es común a todas las páginas-->
        <!--Publicidad y etcs-->
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h1 class="page-header"></h1>
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="item active"> <img class="first-slide" src="user/img/SlideHOmeFutbol.png" alt="First slide">
                            <div class="container">
                                <div class="carousel-caption">
                                    <h1></h1>
                                    <p class="publicidadCarousel"></p>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div class="item"> <img class="slide" src="user/img/SlideHOmeLol.png" alt="Second slide">
                            <div class="container">
                                <div class="carousel-caption"> <a class="btn btn-lg btn-primary" href="user-sportsBet" role="button">¡Apuesta ya!</a> </div>
                            </div>
                        </div>
                        <div class="item"> <img class="slide" src="user/img/SlideRegistrate.png" alt="Third slide">
                            <div class="container">
                                <div class="carousel-caption">
                                    <h1 class="publicidadCarousel">¡REGISTRATE YA!</h1>
                                    <p class="publicidadCarousel"> Y consigue un increible bono de bienvenida de <code>100€</code> </p>
                                    <p> <a class="btn btn-lg btn-primary" href="signup" role="button">REGISTRATE
											HOY</a> </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a>
                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"> <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <span class="sr-only">Next</span> </a>
                </div>
            </div>
        </div>
        <!--/.row-->
        <div class="row">
            <div class="tt1" style="background-color: #004300; margin-left: 10px; margin-right: 10px;"> Últimos encuentros</div>
            <div class="col-md-8" style="padding-left: 10px; margin-top: 0px;">
                <div class="panel panel-default" style="margin-left: 25px; margin-right: 0px;">
                    <div class="panel-body tabs">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="user#tab1" data-toggle="tab"><img class="glyph stroked home" src="user/img/football.svg" style="width: 16px; height: 16px;"> FUTBOL</a>
                            </li>
                            <li>
                                <a href="user#tab2" data-toggle="tab"><img class="glyph stroked home" src="user/img/basket.svg" style="width: 16px; height: 16px;"> BASKET</a>
                            </li>
                            <li>
                                <a href="user#tab3" data-toggle="tab"><img class="glyph stroked home" src="user/img/basket.svg" style="width: 16px; height: 16px;"> LOL</a>
                            </li>
                            <li>
                                <a href="user#tab4" data-toggle="tab"><img class="glyph stroked home" src="user/img/basket.svg" style="width: 16px; height: 16px;"> CS:GO</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="tab1">
                                <!-- Contenido Futbol-->
                                <table class="table table-striped">
                                    <thead>
                                        <tr class="tab-logo-liga">
                                            <th colspan="3"><img class="glyph stroked home" src="user/img/ligasantander.png" style="width: 200px; height: 30px;"></th>
                                            <th style="text-align: left;">
                                                <div class="col-xs-6 col-md-4 text-center">Resultado</div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody id="bodyAppend-football"> {{#footballMatchTable}}
                                        <tr class="tab-horario-partido">
                                            <td class="tab-index-partido">{{id}}</td>
                                            <td class="tab-date-partido">{{date}}</td>
                                            <td class="tab-equipos-partido">{{homeTeam}}-{{visitingTeam}}</td>
                                            <td class="tab-resultado-partido" style="padding-left: 40px;">{{homePoints}}-{{visitingPoints}}</td>
                                        </tr> {{/footballMatchTable}} </tbody>
                                </table>
                                <!-- Contenido Futbol-->
                                <div id="toShow-football" style="padding-left:40%">
                                    <button id="more-scores-football"> + Resultados</button>
                                </div>
                                <div id="another-results-football" style="padding-left:40%"></div>
                                <div id="spinner-football" style="padding-left:45%"></div>
                            </div>
                            <div class="tab-pane fade" id="tab2">
                                <!-- Contenido Futbol-->
                                <table class="table table-striped">
                                    <thead>
                                        <tr class="tab-logo-liga">
                                            <th colspan="3"><img class="glyph stroked home" src="user/img/nbalogo.png" style="width: 100px; height: 30px;"></th>
                                            <th style="text-align: left;">
                                                <div class="col-xs-6 col-md-4 text-center">Resultado</div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody id="bodyAppend-basket"> {{#basketballMatchTable}}
                                        <tr class="tab-horario-partido">
                                            <td scope="row">{{id}}</td>
                                            <td scope="row">{{date}}</td>
                                            <td class="tab-equipos-partido">{{homeTeam}}-{{visitingTeam}}</td>
                                            <td class="tab-resultado-partido" style="padding-left: 40px;">{{homePoints}}-{{visitingPoints}}</td>
                                        </tr> {{/basketballMatchTable}} </tbody>
                                </table>
                                <!-- Contenido Basket-->
                                <div id="toShow-basket" style="padding-left:40%">
                                    <button id="more-scores-basket"> + Resultados</button>
                                </div>
                                <div id="another-results-basket" style="padding-left:40%"></div>
                                <div id="spinner-basket" style="padding-left:45%"></div>
                            </div>
                            <div class="tab-pane fade" id="tab3">
                                <!-- Contenido Futbol-->
                                <!-- Contenido CS-->
                                <table class="table table-striped">
                                    <thead>
                                        <tr class="tab-logo-liga">
                                            <th colspan="3"><img class="glyph stroked home" src="user/img/lol_logo.png" style="width: 100px; height: 30px;"></th>
                                            <th>
                                                <div class="col-xs-6 col-md-3 text-center" style="width: 200px">Equipo Ganador</div>
                                            </th>
                                            <th>
                                                <div class="col-xs-6 col-md-3 text-center" style="width: 200px">Primera sangre</div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody id="bodyAppend-lol"> {{#lolMatchTable}}
                                        <tr class="tab-horario-partido">
                                            <td scope="row">{{id}}</td>
                                            <td scope="row">{{date}}</td>
                                            <td class="tab-equipos-partido">{{homeTeam}}-{{visitingTeam}}</td>
                                            <td class="tab-resultado-partido" style="padding-left: 80px;">{{#winnerTeam}}{{.}}{{/winnerTeam}}</td>
                                            <td class="tab-resultado-partido" style="padding-left: 80px;">{{#firstBloodTeam}}{{.}}{{/firstBloodTeam}}</td>
                                        </tr> {{/lolMatchTable}} </tbody>
                                </table>
                                <div id="toShow-lol" style="padding-left:40%">
                                    <button id="more-scores-lol"> + Resultados</button>
                                </div>
                                <div id="another-results-lol" style="padding-left:40%"></div>
                                <div id="spinner-lol" style="padding-left:45%"></div>
                            </div>
                            <div class="tab-pane fade" id="tab4">
                                <!-- Contenido CS-->
                                <table class="table table-striped">
                                    <thead>
                                        <tr class="tab-logo-liga">
                                            <th colspan="3"><img class="glyph stroked home" src="user/img/CSGO.png" style="width: 100px; height: 30px;"></th>
                                            <th>
                                                <div class="col-xs-6 col-md-3 text-center" style="width: 200px">Equipo Ganador</div>
                                            </th>
                                            <th>
                                                <div class="col-xs-6 col-md-3 text-center" style="width: 200px">Primera sangre</div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody id="bodyAppend-csgo"> {{#csgoMatchTable}}
                                        <tr class="tab-horario-partido">
                                            <td scope="row">{{id}}</td>
                                            <td scope="row">{{date}}</td>
                                            <td class="tab-equipos-partido">{{homeTeam}}-{{visitingTeam}}</td>
                                            <td class="tab-resultado-partido" style="padding-left: 80px;">{{#winnerTeam}}{{.}}{{/winnerTeam}}</td>
                                            <td class="tab-resultado-partido" style="padding-left: 80px;">{{#firstBloodTeam}}{{.}}{{/firstBloodTeam}}</td>
                                        </tr> {{/csgoMatchTable}} </tbody>
                                </table>
                                <div id="toShow-csgo" style="padding-left:40%">
                                    <button id="more-scores-csgo"> + Resultados</button>
                                </div>
                                <div id="another-results-csgo" style="padding-left:40%"></div>
                                <div id="spinner-csgo" style="padding-left:45%"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <a href="user-promos"><img class="user/img-responsive" src="user/img/rooney.jpg" style="width: 469px"></a>
                    <div class="card-content"> <span class="card-title">ÚLTIMAS PROMOCIONES</span>
                        <button type="button" id="show" class="btn btn-custom pull-right" aria-label="Left Align"> <i class="fa fa-ellipsis-v"></i> </button>
                    </div>
                    <div class="card-action">
                        <div style="font-family: fantasy;">
                            <p style="display: inline; margin-left: 20px; margin-right: 10px;"> <a href="user-sportsBet" style="font-size: xx-large">DEPORTES</a> </p>
                            <p style="display: inline; margin-left: 20px;"> <a href="user-EsportsBet" style="font-size: xx-large">JUEGOS</a> </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.col-->
        </div>
        <!--/.row-->
    </div>
    <!--/.main-->
    <div id="footer" class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 footer">
        <div class="container-fluid">
            <!-- CAROUSEL PARTNERS ROW-->
            <div class="row">
                <div id="jssor_1">
                    <!-- Loading Screen -->
                    <div class="jssor_banner" data-u="loading">
                        <div class="jssor_banner2"></div>
                        <div class="jssor_banner3"></div>
                    </div>
                    <div class="jssor_slides" data-u="slides">
                        <div> <img data-u="image" src="user/img/slide_jsor_1.jpg" height="50px" /> </div>
                        <div class="jsorpadding"></div>
                        <div> <img data-u="image" src="user/img/slide_jsor_2.png" height="50px" /> </div>
                        <div class="jsorpadding"></div>
                        <div> <img data-u="image" src="user/img/slide_jsor_3.png" height="50px" /> </div>
                        <div class="jsorpadding"></div>
                        <div> <img data-u="image" src="user/img/juegoseguro.png" height="50px" /> </div>
                        <div class="jsorpadding"></div>
                        <div> <img data-u="image" src="user/img/slide_jsor_1.jpg" height="50px" /> </div>
                        <div class="jsorpadding"></div>
                        <div> <img data-u="image" src="user/img/slide_jsor_2.png" height="50px" /> </div>
                        <div class="jsorpadding"></div>
                        <div> <img data-u="image" src="user/img/slide_jsor_3.png" height="50px" /> </div>
                        <div class="jsorpadding"></div>
                        <div> <img data-u="image" src="user/img/juegoseguro.png" height="50px" /> </div>
                        <div class="jsorpadding"></div>
                        <div> <img data-u="image" src="user/img/slide_jsor_1.jpg" height="50px" /> </div>
                        <div class="jsorpadding"></div>
                        <div> <img data-u="image" src="user/img/slide_jsor_2.png" height="50px" /> </div>
                        <div class="jsorpadding"></div>
                        <div> <img data-u="image" src="user/img/slide_jsor_3.png" height="50px" /> </div>
                        <div class="jsorpadding"></div>
                        <div> <img data-u="image" src="user/img/juegoseguro.png" height="50px" /> </div>
                        <div class="jsorpadding"></div>
                    </div>
                </div>
                <script type="text/javascript">
                    jssor_1_slider_init();
                </script>
            </div>
            <!-- #endregion Jssor Slider End -->
            <ul class="nav menu">
                <li role="presentation" class="pp"></li>
            </ul>
            <div class="row"> <img src="user/img/barra_liga_santander.png" class="imagen_equipos"> </div>
            <ul class="nav menu">
                <li role="presentation" class="pp"></li>
            </ul>
            <div class="row">
                <ul class="menu_info">
                    <li><strong>TOP LINKS</strong></li>
                    <li><a href="user" class="enlaceFooter"> Home </a></li>
                    <li><a href="user-sportsBet" class="enlaceFooter">
							Apuestas Deportivas </a></li>
                    <li><a href="user-EsportsBet" class="enlaceFooter">
							Apuestas E-games </a></li>
                    <li><a href="user-promos" class="enlaceFooter"> Ofertas y
							Promociones </a></li>
                </ul>
                <ul class="menu_info">
                    <li><strong>INFO</strong></li>
                    <li><a href="ffbet/policy-terms" class="enlaceFooter"> Privacy
							policy </a></li>
                    <li><a href="http://politicadecookies.com/" class="enlaceFooter"> Cookie policy </a></li>
                    <li><a href="http://www.loteriasyapuestas.es/es/paginas-informativas/politica-de-uso-de-la-web-y-sitios-moviles-webs-juego-y-corporativa.info?nomobile=1#" class="enlaceFooter"> User policy </a></li>
                    <li><a href="http://www.madrid.org/cs/Satellite?cid=1142331785996&pagename=PortalJoven%2FPage%2FJUVE_contenidoFinalMenuIzquierdo" class="enlaceFooter"> Responsible Gaming </a></li>
                </ul>
            </div>
            <ul class="nav menu">
                <li role="presentation" class="pp"></li>
            </ul>
            <div class="row">
                <div class="copyright">
                    <a href="ffbet/policy-terms" target="_self"></a><img src="user/img/+18.png" height="25px"> <span>Copyright © 2017 FFbet.com
						(España)</span> </div>
            </div>
        </div>
    </div>
    <!--/.footer-->
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="user/js/jquery-1.11.1.min.js"></script>
    <script src="user/js/bootstrap.min.js"></script>
    <script src="user/js/chart.min.js"></script>
    <script src="user/js/chart-data.js"></script>
    <script src="user/js/easypiechart.js"></script>
    <script src="user/js/easypiechart-data.js"></script>
    <script src="user/js/bootstrap-datepicker.js"></script>
    <script>
        $('#calendar').datepicker({});
        ! function ($) {
            $(document).on("click", "ul.nav li.parent > a > span.icon", function () {
                $(this).find('em:first').toggleClass("glyphicon-minus");
            });
            $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
        }(window.jQuery);
        $(window).on('resize', function () {
            if ($(window).width() > 767) $('#sidebar-collapse').collapse('show')
        })
        $(window).on('resize', function () {
            if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
        })
    </script>
    <script type="text/javascript">
        function callHref(url) {
            window.location.href = url;
        };
    </script>
    <script type="text/javascript">
        pageF = 1;
        $(document).ready(function () {
            $('#more-scores-football').click(function () {
                //$('#toShow').empty();
                $('#spinner-football').html("<img src='user/img/spinner1_opt.gif'/>");
                $.ajax({
                    url: "http://192.168.99.100:8080//user/footbalResults/?page=" + pageF + "&size=" + 10
                }).done(function (data) {
                    $('#spinner-football').empty();
                    for (var j = 0; j < data.content.length; j++) {
                        var footballMatch = data.content[j];
                        $('#bodyAppend-football').append('<tr class=' + 'tab-horario-partido' + '><td>' + footballMatch.id + '</td>' + '<td>' + footballMatch.date + '</td>' + '<td>' + footballMatch.visitingTeam + '-' + footballMatch.homeTeam + '</td>' + '<td style=' + 'padding-left:40px;' + '>' + footballMatch.homePoints + "-" + footballMatch.visitingPoints + "</td></tr>");
                        $('td').addClass("tab-horario-partido");
                    }
                    if (data.last == false) {
                        pageF++;
                    }
                    else {
                        $('#more-scores-football').hide();
                    }
                });
            })
        })
    </script>
    <script type="text/javascript">
        pageB = 1;
        $(document).ready(function () {
            $('#more-scores-basket').click(function () {
                $('#spinner-basket').html("<img src='user/img/spinner1_opt.gif'/>");
                $.ajax({
                    url: "http://192.168.99.100:8080//user/basketballResults/?page=" + pageB + "&size=" + 10
                }).done(function (data) {
                    $('#spinner-basket').empty();
                    for (var j = 0; j < data.content.length; j++) {
                        var basketballMatch = data.content[j];
                        $('#bodyAppend-basket').append('<tr class=' + 'tab-horario-partido' + '><td>' + basketballMatch.id + '</td>' + '<td>' + basketballMatch.date + '</td>' + '<td>' + basketballMatch.visitingTeam + '-' + basketballMatch.homeTeam + '</td>' + '<td style=' + 'padding-left:40px;' + '>' + basketballMatch.homePoints + "-" + basketballMatch.visitingPoints + "</td></tr>");
                        $('td').addClass("tab-horario-partido");
                    }
                    if (data.last == false) {
                        pageB++;
                    }
                    else {
                        $('#more-scores-basket').hide();
                    }
                });
            })
        })
    </script>
    <script type="text/javascript">
        pageL = 1;
        $(document).ready(function () {
            $('#more-scores-lol').click(function () {
                $('#spinner-lol').html("<img src='user/img/spinner1_opt.gif'/>");
                $.ajax({
                    url: "http://192.168.99.100:8080//user/lolResults/?page=" + pageL + "&size=" + 10
                }).done(function (data) {
                    $('#spinner-lol').empty();
                    for (var j = 0; j < data.content.length; j++) {
                        var lolMatch = data.content[j];
                        $('#bodyAppend-lol').append('<tr class=' + 'tab-horario-partido' + '><td>' + lolMatch.id + '</td>' + '<td>' + lolMatch.date + '</td>' + '<td>' + lolMatch.visitingTeam + '-' + lolMatch.homeTeam + '</td>' + '<td style=' + 'padding-left:80px;' + '>' + lolMatch.winnerTeam + '</td>' + '<td style=' + 'padding-left:80px;' + '>' + lolMatch.firstBloodTeam + '</td></tr>');
                        $('td').addClass("tab-horario-partido");
                    }
                    if (data.last == false) {
                        pageL++;
                    }
                    else {
                        $('#more-scores-lol').hide();
                    }
                });
            })
        })
    </script>
    <script type="text/javascript">
        pageC = 1;
        $(document).ready(function () {
            $('#more-scores-csgo').click(function () {
                $('#spinner-csgo').html("<img src='user/img/spinner1_opt.gif'/>");
                $.ajax({
                    url: "http://192.168.99.100:8080//user/csgoResults/?page=" + pageC + "&size=" + 10
                }).done(function (data) {
                    $('#spinner-csgo').empty();
                    for (var j = 0; j < data.content.length; j++) {
                        var csgoMatch = data.content[j];
                        $('#bodyAppend-csgo').append('<tr class=' + 'tab-horario-partido' + '><td>' + csgoMatch.id + '</td>' + '<td>' + csgoMatch.date + '</td>' + '<td>' + csgoMatch.visitingTeam + '-' + csgoMatch.homeTeam + '</td>' + '<td style=' + 'padding-left:80px;' + '>' + csgoMatch.winnerTeam + '</td>' + '<td style=' + 'padding-left:80px;' + '>' + csgoMatch.firstBloodTeam + '</td></tr>');
                        $('td').addClass("tab-horario-partido");
                    }
                    if (data.last == false) {
                        pageC++;
                    }
                    else {
                        $('#more-scores-csgo').hide();
                    }
                });
            })
        })
    </script>
</body>

</html>